[2012-12-11 06:22] stefanfoulis opened #1 "does not work alongside the original text plugin"
[code]

[2012-12-11 06:30] stefanfoulis opened #2 "migrations missing"

[2012-12-17 10:19] #2 closed, assigned to nobody

[2012-12-20 11:05] alesdotio opened #3 "there should be a way to add styles to the default stylesSet"
setting stylesSet replaces all styles. it would be nice to be able to add style to default ones. (also the style option should be added to the 'CMS' toolbar)

docs: http://docs.cksource.com/ckeditor_api/symbols/CKEDITOR.stylesSet.html

these are my settings:

[code]

[2013-01-03 23:57] designedbydave opened #4 "Integrity Error coming from django-cms text plugin to CKeditor"
(1451, 'Cannot delete or update a parent row: a foreign key constraint fails (`emda_cms_db`.`cmsplugin_style`, CONSTRAINT `cmsplugin_ptr_id_refs_id_78cdced985723f7` FOREIGN KEY (`cmsplugin_ptr_id`) REFERENCES `cms_cmsplugin` (`id`))')

This happens when I go edit content that was in there originally for the text plugin.

I cannot Delete the pages, or the content either. Any suggestions?

[2013-01-04 00:17] #4 closed, assigned to nobody

[2013-01-11 13:00] alesdotio opened #5 "styles inside the editor"
the editor window is not styled -- it's really hard to tell if a block is a title, a paragraph etc.

[2013-01-18 09:33] alesdotio opened #8 "problems initialising on added inlines"
throws the following error:

Uncaught The editor instance "id_items-**prefix**-content" is already attached to the provided element. ckeditor.js:252

and the content is not focusable (cant click inside). switching to source and then back sometimes fixes it.

[2013-01-24 00:25] ikresoft opened #9 "CMS Plugins"
After saving cms plugin inside editor, there is no icon and there is undefined in tag img

[2013-01-24 22:11] #9 closed, assigned to nobody

[2013-02-06 09:18] joelbitar opened #12 "CMS Plugins not working"
The CMS Plugins in CKEditor does not work for me,

They all return the same HTML content after pressing the "OK" button, that is "&lt;img alt=&quot;undefined&quot; id=&quot;plugin_obj_undefined&quot; src=&quot;undefined&quot; title=&quot;undefined&quot; />" (not htmlencoded of course)

I do not know where to start looking :/

O ise Dkamgp 1.4.3, CMS 2.3.5 and djangocms-text-editor 1.0.6

[2013-02-06 13:15] #12 closed, assigned to nobody

[2013-02-06 20:38] joelbitar opened #13 "Issues with postgres"
I get an error when I'm deploying my project to my production server where I use prostgresql.

relation "cmsplugin_text" does not exist
LINE 1: ...."cmsplugin_ptr_id", "cmsplugin_text"."body" FROM "cmsplugin...

Is there some obious solution to this and what can I do to help?

[2013-02-07 10:25] #1 closed, assigned to nobody

[2013-02-12 11:24] motiteux opened #14 "CKEditor, maximize and plugin image"
If I maximize the CKEditor plugin window in the page admin, and then I add an image plugin inside the Text editor the window of the image plugin is snapped improperly, as illustrated on the snapshot.

I am using Python 2.7.3, Django 1.4.3, Django-CMS 2.3.5, and djangocms-text-ckeditor 1.0.6
![snapped_max_ckeditor](https://f.cloud.github.com/assets/358734/148555/bb9d48ae-7506-11e2-999a-166afda5aaaf

[2013-02-16 10:02] badstorm opened #15 "Upload image in custom module with HTMLField"
It is possible to upload images using the HTMLField in my own model?

[2013-02-19 17:58] #14 closed, assigned to nobody

[2013-02-19 18:00] #8 closed, assigned to nobody

[2013-02-19 18:15] #3 closed, assigned to FinalAngel

[2013-02-20 08:13] #15 closed, assigned to nobody

[2013-03-20 13:20] motiteux opened #16 "The "link" function doesn't recognize anchors in other plugins of the same Page"
It should be possible to make a link from 1 plugin to an anchor placed in another plugin of the same Page.

In the CKEDITOR_SETTINGS, I added a ['Link', 'Unlink', 'Anchor'], line in the Toolbar_CMS value, to get the support of the anchoring facility from CKEditor. It works well for anchors placed in the `body` of the current plugin instance.

However, the "Link" interface doesn't recognize the anc

[2013-03-20 13:53] motiteux opened #17 "Anorexic anchor and html5lib"
If I include an empty named anchor in my text, using the CKEditor toolbar button, after saving the plugin, all of the following html tags include the same anchor. For example, my initial text would look like the following:

[code]

But after saving this plugin, I get the following:

[code]

Such thing happens only when after saving the plugin. This does not happen if the anchor tag wraps arount a

[2013-03-27 15:31] cellarosi opened #19 "Bad visualization in frontend editing"
I've checked with Wymeditor and this problem doesn't occurred. During front-end editing the text plugin with ckeditor doesn't open in totally height and the editor is partially covered.

![Schermata del 2013-03-27 16:23:02](https://f.cloud.github.com/assets/482145/308841/07da1ebe-96f3-11e2-9a45-9d73d90998fb.png)

[2013-04-03 16:39] foobacca opened #20 "Multiple textbox fields lead to broken CKeditor"
I have a model with a few text fields.  Using the CK editor I end up with the first text box looking correct. The first textbox toolbar is in the right place and works as expected.

But for all the others, the toolbar gets put right to the top of the page, and all on top of each other, so (apart from the first, correct, TextField)  you can only access the toolbar for the bottom textbox (which stil

[2013-04-04 16:18] #20 closed, assigned to nobody

[2013-04-11 16:35] Pankrat opened #21 "Permissions not created/adapted when switching from cms.plugins.text"
We followed the README to upgrade from cms.plugins.text.

Afterwards our editors couldn't access text plugins anymore and there was no permission for ckeditor - probably because the migration was faked?

We worked around that by manually changing `app_label` in `django_content_type` from *text* to *djangocms_text_ckeditor*.

Not sure if there is a better way to do that. If there isn't, maybe this

[2013-04-12 20:49] designedbydave opened #22 "Ckeditors plugins"
Trying to use plugins that CKeditor provide

CKEDITOR_SETTINGS = {
        'forcePasteAsPlainText': 'true',
        'toolbar': 'CMS',
        'skin': 'moono',
        'extraPlugins': 'oembed',
    }

However, CMSplugins disappears, and my oembed plugin doesn't show on the wysiwig

[2013-04-16 13:55] laurentalsina opened #24 "ckeditor iframe plugin is included but should not be"
Despite the <a href="https://github.com/divio/djangocms-text-ckeditor/tree/master/djangocms_text_ckeditor/static/ckeditor/plugins/iframe">ckeditor iframe plugin</a> being included in the package, the HTML code that it generates gets sanitized so the resulting iframe content is not displayed. It would be probably better to not include it, and recommend using the <a href="https://github.com/divio/cm

[2013-05-20 16:09] jcketz opened #25 "ImportError: No module named PIL"
Hi, I really like ckeditor and would like to use it in my django-cms project, used to use it with joomla.

I have pip installed pil but when I try to migrate, with the following run:
python manage.py migrate djangocms_text_ckeditor 0001 --fake

I get the following issue:

ImportError: No module named PIL

It appears that there is a new organization of PIL's package in the latest version and this c

[2013-05-27 09:55] yakky opened #26 "Make easier to extend text plugin"
The "old" text plugin has `AbstractText` class that makes easy to extend the basic plugin for custom use.
This abstract class is no more.
How about recreating it?

[2013-06-05 14:21] badstorm opened #28 "Create custom plugin for Model field"
I want to add the posibility to add a video in ckeditor used as model field.
Can I create a custom plugin?

Thanks

Marco

[2013-06-13 18:07] mutax opened #31 "when using django-cms 3.0.0beta it cannot load a template due to a wrong path"
In the file djangocms_text_ckeditor/templates/cms/plugins/text_plugin_change_form.html
I have to change
{% extends "admin/cms/page/plugin_change_form.html" %}
to
{% extends "admin/cms/page/plugin/change_form.html" %}

[2013-06-20 23:08] tunarob opened #33 "Adding plugins doesn't work in CMS v.3"
When I try to add any plugin, for example snippet or link I get error:

In the console I see:

Adding that plugins (link, picture, ...) directly to placeholder works fine. I have all migrations, INSTALLED_APPS filled etc.

Any ideas why it's not working?

[2013-06-24 11:50] #22 closed, assigned to nobody

[2013-07-05 18:39] yakky opened #34 "truncate_words removed in 1.6"
Kind of unexpected, but `truncate_words` is no more.
How is this supposed to be fixed? Porting the django code to `djangocms-text-ckeditor`?

[2013-07-07 16:50] yakky opened #37 "CMS.API undefined"
When saving plugins nested in the editor, error is returned in JS console **Cannot read property 'Helpers' of undefined**; `CMS` object only contains a `CKEditor` object.

[2013-07-08 13:22] azizmb opened #38 "Adding plugins inline doesnt work."
Adding a plugin inline in the editor doesn't work. I've (hastily) put together a demo app where this could be replicated. To reproduce:

[code]

Goto: http://localhost:8000/admin/cms/page/1/

Try editing the text plugin in the content placeholder, and try inserting an image or file. It shows up as undefined, and doesnt render when trying to preview.

[2013-07-10 13:40] #38 closed, assigned to nobody

[2013-07-10 13:41] #37 closed, assigned to FinalAngel

[2013-07-10 13:41] #33 closed, assigned to nobody

[2013-07-11 09:58] laffuste opened #41 "Uncaught TypeError: Object #<Object> has no method 'csrf'"
With latest stable version of Django CMS (django-cms==2.4.2) and this plugin (djangocms-text-ckeditor==2.0.0), only a regular text area is displayed when adding the plugin to a template.

File:
djangocms_text_ckeditor/templates/cms/plugins/text_plugin_change_form.html

Offending line:
CMS.API.Helpers.csrf('{{ csrf_token }}');

Fix:
CMS.API.Security.csrf('{{ csrf_token }}');

[2013-07-11 11:15] yakky opened #43 "Document django CMS compatibility"
Document that for django CMS < 3 ckeditor < 2 is required

[2013-07-11 11:16] #43 closed, assigned to nobody

[2013-07-11 11:16] #41 closed, assigned to nobody

[2013-07-11 21:53] #31 closed, assigned to nobody

[2013-07-16 08:05] #24 closed, assigned to nobody

[2013-07-16 19:37] ghost opened #46 "Model HTML field is throwing JS error"
Trying to use the HTML field via model as "myfield = HTMLField(blank=True)" is throwing Javascript error ...

SyntaxError: syntax error
'placeholder_id': ,

and doesn't show the TextEditor over at Django Admin. Iam using the Beta 2 version of django-cms and its being a blocker to me with the kind of purpose iam intending to use it. Other than that, amazing plugin for new django-cms. Awesome. Thank

[2013-07-17 18:26] yakky opened #47 "`CMS.$` jQuery namespace not registered when using HTMLField"
`Uncaught ReferenceError: CMS is not defined`  when using `HTMLField` in a normal model, `CMS.$` namespace is not loaded in the plain admin

[2013-07-17 18:52] #25 closed, assigned to nobody

[2013-07-17 19:03] #13 closed, assigned to nobody

[2013-07-17 19:16] #28 closed, assigned to nobody

[2013-07-18 07:29] robertweglarek opened #51 "400 (Bad Request error) while adding a plugin"
Having set for example:
[code]
there is an 400 - Bad request error while adding a plugin in editor. Adding plugins through a placeholder works fine.
Response from that configuration is:
[code]
plugin_language:en is a strange thing here, as my settings are set to PL.

Changing settings to works fine:
[code]

So the bug occurs when there is no EN language.
Detailed conversation about that bug is als

[2013-07-18 08:16] #46 closed, assigned to nobody

[2013-07-18 19:19] #16 closed, assigned to nobody

[2013-07-19 09:41] yakky opened #54 "Create a support/1.0.x branch"
As some issues are still open for 1.0 branch, maybe we can create a support branch for it

[2013-07-19 10:03] #26 closed, assigned to nobody

[2013-07-27 15:28] yakky opened #56 "Make plugin iframe minHeight / minWidth customizable"
See https://github.com/divio/djangocms-text-ckeditor/blob/master/djangocms_text_ckeditor/static/ckeditor_plugins/cmsplugins/plugin.js#L75

It should be provided an easy way to change these hardcoded values

[2013-07-30 17:47] feczo opened #57 "Inserting image plugin with filer into the editor results in a broken image icon, not the image"
the image is visible both in filer when selecting and in the CMS window as well after saving the contents of the editor,
but not in the editor (as attached broken image icon) the html code is inserted as below

[code]
using cms 3.0 beta2 and djangocms-text-ckeditor==2.0.0
it is both in FF 22 and Chrome 28.0.1500.71

![screen shot 2013-07-31 at 3 44 23 am](https://f.cloud.github.com/assets/3347261/

[2013-08-05 09:35] #17 closed, assigned to nobody

[2013-08-07 16:38] digi604 opened #59 "add plugin language problem"
If you have an english page but a german interface and add a plugin in the text editor: The language of add_plugin will be german instead of english.

[2013-08-09 09:15] aufdenpunkt opened #60 "allowedContent setting doesn't work"
Did you know, why the setting allowedContent doesn't work?

I think this setting ...

CKEDITOR_SETTINGS = {
    'allowedContent' : 'p;h2;h3',
    ...
}

should work. Any ideas?

Cheers,
Chris

[2013-08-09 12:02] #60 closed, assigned to nobody

[2013-08-09 16:11] #59 closed, assigned to FinalAngel

[2013-08-09 16:12] #47 closed, assigned to nobody

[2013-08-19 16:06] Sureiya opened #65 "html5lib seems to be stripping some valid tags."
I have the CKEDITOR ACF disabled using 'allowedContent': True

A lot of valid HTML5 still seems to be stripped. I can't use placeholder or validate in <input>. x

[2013-08-19 17:47] yakky opened #66 "Provide an easy way customize html5lib sanitizer"
Provide some hook to customize html5lib sanitizer (for example to allow `iframe` tags for embedding)

[2013-08-21 09:56] #65 closed, assigned to nobody

[2013-08-21 13:30] kainbacher opened #67 "plugin error with django-cms 2.4.1 and djangocms-text-ckeditor 1.0.10"
if i add a plugin in the editor i get an error:
Cannot read property 'id' of undefined

[2013-08-23 14:13] motiteux opened #68 "Integration with django-filer for resizing copy/pasted pictures using the mouse in the editor"
This is an enhancement suggestion.
CKeditor allows to resize images using the mouse. However, the size to which it is uploaded to media using filer is the original one.

It would be "nice" to have the size of the image to be recorded or the image to be resized automagically upon saving the plugin.

Thanks!

[2013-08-23 14:15] motiteux opened #69 "Allowing a shortcut or a button to save the plugin without closing it."
Suggestion enhancement.

While editing on the page (using the toolbar for example), if someone wants to save his/her work, he/she has to click on the save button and the plugin is then closed. Which can be tedious if the save was just not to loose the current work.

Thanks!

[2013-09-06 14:20] palmitoto opened #72 "CMS PLugins button is missing"
Hi, i need your help :-/

The cms Plugins disapear in the ckeditor.. any clue ??
![capture decran 2013-09-06 a 16 18 32](https://f.cloud.github.com/assets/966556/1096456/78935b2a-16ff-11e3-8a01-b775bc93e039.png)

[2013-09-08 21:40] yakky opened #73 "Verify correct truncation code"
Verify correct truncation in https://github.com/divio/djangocms-text-ckeditor/blob/master/djangocms_text_ckeditor/models.py#L20 (and possibly elsewhere)  against different django version (1.4, 1.5 and 1.6)

[2013-09-09 17:45] #34 closed, assigned to nobody

[2013-09-11 01:23] chris-morgan opened #74 "This makes manage.py test fail"
Once I have `djangocms_text_ckeditor` in `INSTALLED_APPS` (immediately above `cms`, as directed), `manage.py test` on my own project fails:

[code]

I think this may be because the `cms` tables haven't been created yet on account of coming afterwards in INSTALLED_APPS, but I'm not clear on the cause of failure.

A workaround is to add `SOUTH_TESTS_MIGRATE = False` to the settings (makes it use syn

[2013-09-12 17:59] #73 closed, assigned to yakky

[2013-09-16 13:44] borgstrom opened #77 "Supporting the stylesheet parser options (RegExps)"
We use the stylesheet parser plugin so that our users can select styles directly from within CKEditor.

The problem is that the two stylesheet parser plugin options want RegExp objects. http://docs.ckeditor.com/#!/api/CKEDITOR.config-cfg-stylesheetParser_skipSelectors

When this plugin dumps out the options for ckeditor it serializes them using JSON, so there's no way to support these values curre

[2013-09-17 07:08] kainbacher opened #78 "You do not have permission to edit a plugin"
my usergroup dont have the permission to edit or add a text plugin.

for testing i added all permissions:

text | text | can add text
text | text | can change text
text | text | can delete text
##

djangocms-text-ckeditor==1.0.10
Django==1.5.1
django-cms==2.4.2

[2013-09-29 12:09] brigantino2 opened #79 "Mime error on drag/drop images in editor"
When I to drag/drop an image inside the editor and save, I get an error, list index out of range, on this line of html.py > extract images

image_type = mime_type.split("/")[1]

since mime_type is an empty string. The src of the image dropped in the editor is something like this
data:;base64,/9j/4AAQSkZ....
as far as I've understood there should be a mime type in between : and ;

django 1.5.1
djan

[2013-10-22 10:00] robertolopezlopez opened #83 "image upload: image_type not detected"
Hi.

I am trying to drag and drop an image, but there's an IndexError in djangocms_text_ckeditor/html.py. It seems mime_type always = u'', so mime_type.split("/")[1] gives an error.

It happens both in localhost, with development server, and production, with apache and wsgi.

Request URL: http://127.0.0.1:8000/en/admin/cms/page/1/edit-plugin/172/

Python Version: 2.7.3
Installed Applications:
('dj

[2013-11-19 22:48] ollb opened #87 "Maximize ckeditor when alone in a modal"
When editing just a ckeditor plugin in a modal, would it be more ergonomic to maximise ckeditor by default (and even drop the maximize button) ?

[2013-11-20 07:08] #87 closed, assigned to FinalAngel

[2013-11-22 18:20] #19 closed, assigned to nobody

[2013-11-22 18:20] #5 closed, assigned to nobody

[2013-12-26 22:28] cwirz opened #92 "Removes HTML "i" tag out of list item after editing the plugin again."
First I have:
`<ul class="plan-features">
    <li><i class"test"></i> Test</li>
</ul>`
When editing again:
`<ul class="plan-features">
    <li>Test</li>
</ul>`

[2014-01-10 14:28] #54 closed, assigned to nobody

[2014-01-12 11:20] #92 closed, assigned to nobody

[2014-01-23 14:00] piquadrat opened #97 "Shouldn't require django-cms"
If you want to only use ``HTMLField`` without any CMS integration, you still have to install the CMS and configure all kinds of CMS-related settings. This could probably be solved by either turning imports from cms into "runtime" imports, or by carefully splitting up modules into ones depending on the cms and ones that do not.

[2014-01-23 18:24] emgogh opened #98 "Request inclusion of the autosave plugin."
http://ckeditor.com/addon/autosave

That plugin was required for a project currently reliant upon djangocms-text-ckeditor, and I ended up adding it to a personal fork.

But I believe that you're using ckeditor's builder utility (http://ckeditor.com/builder) to produce your embedded ckeditor, and so I was reluctant to just issue a pull request with the new plugin included, as I don't believe that w

[2014-01-24 07:14] #98 closed, assigned to nobody

[2014-02-10 22:54] daegun opened #104 "add ability to toggle markdown"
enhancement:

would be tricky, but to also provide an outlet to switch to markdown text (like how source is toggled).

would something like this be applicable/viable?

this is something of interest by my own company, so i may end up looking into it further on my own end.

[2014-02-11 06:13] #104 closed, assigned to nobody

[2014-02-12 13:04] sthzg opened #106 "Readme.rst: TEXT_ADDITIONAL_ATTRIBUTES"
I think on the very bottom of the README.MD the second line of the configuration example should be TEXT_ADDITIONAL_ATTRIBUTES instead of TEXT_ADDITIONAL_TAGS.

[2014-02-12 15:19] sthzg opened #107 "Readme.rst: Link to CKEDITOR Api for version 4"
In the Readme.rst there ist still a link to the ckeditor v3 api. Packaged is 4.3. I think this is the link to the config documentation for the current ckeditor version:

http://docs.ckeditor.com/#!/api/CKEDITOR.config

[2014-02-21 08:56] #67 closed, assigned to nobody

[2014-02-21 23:17] jrief opened #109 "Using pyquery instead of ugly pattern parsing"
Just a consideration....

djangocms-text-ckeditor makes heavy use of regular expressions to parse HTML code entered into the CKEditor. Have a look at utils.py and models.py where the HTML code is digged for img elements. This "doing it by hand", IMO is somehow bad practice.

An alternative would be to use a library, which is able to find HTML elements using jQuery-selectors. I extensively use http

[2014-03-07 10:58] kainbacher opened #112 "ProgrammingError: relation "cmsplugin_text" does not exist"
i have installed the plugin (djangocms-text-ckeditor==2.1.4) in a new fresh cms (djangocms-text-ckeditor==2.1.4) and got this error:

django.db.utils.ProgrammingError
ProgrammingError: relation "cmsplugin_text" does not exist
LINE 1: ...."cmsplugin_ptr_id", "cmsplugin_text"."body" FROM "cmsplugin...

any hints for this issue?
thanks

[2014-03-07 13:26] #112 closed, assigned to nobody

[2014-03-12 16:25] joke2k opened #113 "Edit plugin content"
When i try to add new plugin to placeholder, the admin page returns:
[code]
Django==1.6.2
django-cms==3.0b4.dev13
djangocms-admin-style==0.2.0
djangocms-text-ckeditor==2.1.4

traceback: http://dpaste.com/1719677/

there is a bug or I was wrong something?

[2014-03-16 06:42] nickzoic opened #114 "404 for "/static/cms/js/modules/cms.base.js" (with django-cms==3.0.0.beta3)"
There's two mentions of this path:

[code]

It looks like cms/js/modules/cms.base.js is now cms/js/plugins/cms.base.js in version 3 ... see https://github.com/divio/django-cms/tree/3.0.0.beta3/cms/static/cms/js/plugins

It seems like it is still called 'modules' in the develop branch, so I'm not sure if that's a mistake here or in 3.0.0.beta3!

[2014-03-17 07:15] #114 closed, assigned to nobody

[2014-03-17 07:17] #107 closed, assigned to nobody

[2014-03-26 14:15] FinalAngel opened #115 "canceling plugins inside ckeditor leaves plugins"
see reference: https://github.com/divio/django-cms/issues/2957

[2014-03-26 14:16] FinalAngel opened #116 "ckeditor doesn't update to latest changed status"
Saving a link plugin in text plugin, but canceling the text plugin changes leads to this: http://cl.ly/image/10022p0k1F10 (text editor shows old entry, double click on it shows saved status)

[2014-04-01 16:53] igorovic opened #117 "ckeditor HTMLField within admin TabularInline not rendering"
Hi all,
There is an issue when I use djangocms 3RC1 with djangocms-text-ckeditor as an HTMLField in my model and when I try to display the model in TabularInline or StackedInline admin models.
The editor is not rendered. The TextAreaField is hidden but the editor is not rendered. I was able to trick the rendering by commenting lines in:

[code]

Obviously there is an error on how the **prefix** is

[2014-04-12 17:25] #117 closed, assigned to nobody

[2014-04-17 07:29] benzkji opened #120 "enhance handling of child plugins editing"
having an option to better integrate custom plugins into the editor's html would be great. for example, "Link" is the only plugin allowed to have a `<a>` tag in the source

- the link plugin is very ok, but the rest seems to be doomed to use the old style icon_src and icon_alt concept
- the "name" field is automatically assumed to be the field that will hold the selected text

it would be nice if

[2014-05-14 22:21] jgoettsch opened #124 "js/css files fail to load when using CachedStaticFilesStorage with Django CMS 3"
If you use Django's [CachedStaticFilesStorage](https://docs.djangoproject.com/en/1.6/ref/contrib/staticfiles/#cachedstaticfilesstorage) with Django CMS 3, the front-end editor fails to load when using djangocms-text-ckeditor's Text plugins.

When the editor begins to load it makes a few requests at URLs such as:

/admin/cms/page/edit-plugin/(\d+)/config.js/?t=DAED

when it should be

{{ STATIC_URL

[2014-05-18 09:48] #124 closed, assigned to nobody

[2014-05-25 13:38] johnraz opened #129 "TextPlugin doesn't play nice with default plugins translated values"
Let's say I have a config like this:

[code]

The plugin's model will fail to save because the body value will receive e a proxy object instead of a string. And this is definitely going to be content that you would like to translate.

[2014-05-28 12:37] Wirzi opened #131 "Non-breaking space does no show up after saving the plugin"
Hey
I using the github version of djangocms-text-ckeditor but someday all the new line breaks disappeared.

My settings for the plugin are:

[code]

In my editor window:
![bildschirmfoto 2014-05-28 um 14 27 19](https://cloud.githubusercontent.com/assets/1812094/3104194/a602132e-e663-11e3-82bf-ad97b38113f2.png)

In source code section:
![bildschirmfoto 2014-05-28 um 14 27 25](https://cloud.githubus

[2014-06-04 15:17] #129 closed, assigned to nobody

[2014-06-05 08:58] digi604 opened #133 "python 3 issues"
Traceback (most recent call last):
  File "develop.py", line 300, in <module>
    main()
  File "develop.py", line 253, in main
    configure(**configs)
  File "/home/travis/build/divio/django-cms/cms/test_utils/cli.py", line 346, in configure
    admin.autodiscover()
  File "/home/travis/virtualenv/python3.4.0/lib/python3.4/site-packages/django/contrib/admin/**init**.py", line 29, in autodiscover

[2014-06-06 06:04] #133 closed, assigned to nobody

[2014-06-06 06:09] #66 closed, assigned to nobody

[2014-06-06 20:15] andrewLab opened #137 "Possibly incorrect file path"
master/djangocms_text_ckeditor/cms_plugins.py line: 64.

ckeditor_basepath = '{0}/ckeditor/'.format(settings.STATIC_URL)

In djangocms 3.0.2 the basepath appears incorrect already after installation. As STATIC_URL  = "/static/" and ckeditor_basepath = "/ckeditor/", the resulting ulr is "/static//ckeditor" is incorrect, thus editor is not loaded.
Suggest:
ckeditor_basepath = '{0}ckeditor/'.format(s

[2014-06-13 19:30] jgoettsch opened #139 "Double slashes in ckeditor_basepath"
The joining of settings.STATIC_URL with 'ckeditor/' in cms_plugins.py is putting double slashes between the two if STATIC_URL ends with a slash.

So instead of URLs like
    `//files.example.com/static/ckeditor/`
we get this
    `//files.example.com/static//ckeditor/`

This was caused by [my recent pull request](https://github.com/divio/djangocms-text-ckeditor/pull/127) for a previous issue. Sorry

[2014-06-15 13:58] sm00ch opened #141 "missing text-ckeditor in window"
Guys, what can it be? I reinstalled many times, not helps.
![2014-06-13 18-34-14](https://cloud.githubusercontent.com/assets/7737015/3281103/09c54e00-f495-11e3-83c7-b80ac1844471.png)

[2014-06-15 21:21] jrief opened #143 "Replace hacky <img ...> tags against something more descriptive"
Raw text, as stored by djangocms-text-ckeditor in the database, contains image tags to hold information about links, images, snippets etc.

For instance, a link to an internal page is stored as:
``<img title="Link - Internal page" alt="Link" src="/static/cms/images/plugins/link.png" id="plugin_obj_67">``

this is ugly and quite inflexible. If for instance, we want to display a snippet as HTML, ins

[2014-06-17 05:45] #139 closed, assigned to nobody

[2014-06-23 08:23] mmarzantowicz opened #146 "Installation instructions"
Why there is an instruction to place `djangocms_text_ckeditor` before `cms` entry in `INSTALLED_APPS` setting? Is there any technical reason for that requirement? One thing that comes to my mind is template overriding but is it for that reason?

[2014-06-28 09:22] rhymes opened #147 "djangocms-text-editor 2 with django-cms 2.4.3"
Hello there, for some reasons I'm stuck with Django 1.5.8 and django-cms 2.4.3.

In the regular admin I added django-ckeditor-updated and configured some plugins. I tried to do the same with djangocms-text-ckeditor but the version 1.0.11 doesn't seem to support CKEditor plugins nor other CKEDITOR_SETTINGS apart from language for that matter.

Is there a chance a way to use the latest version with

[2014-07-15 08:51] #78 closed, assigned to nobody

[2014-07-17 20:49] mmoxam opened #148 "Django CMS 3.0 ValueError: The joined path (C:\ckeditor\config.js) is located outside of the base path component"
I tracked down the source of this and it has to do with the cms_plugins.py file.

My fix was to edit the cms_plugins.py of

Line 64:

[code]

Change that to

[code]

That fixed the problem for me. Basically it appended and extra / when trying to integrate the CKEDITOR_BASEPATH into the STATIC URL for Django CMS 3.0

[2014-07-21 18:17] #148 closed, assigned to nobody

[2014-07-22 08:09] marekmalek opened #150 "Migration 0002 does not work with non default database"
I've installed djangocms in not default database so I ran migration with --database param.
The migration `0002.py` use default database connection to detect table names so of course it didn't find it and left it untouched.

Wrong:

[code]

Good:

[code]

[2014-07-25 15:09] sephii opened #151 "Links don't work on non-EN languages"
If you're using this plugin in a non-EN interface, you'll notice links appear as broken images in the editor. That's because of the following line (in `static/ckeditor_plugins/cmsplugins/plugin.js`):

[code]

In languages other than EN, the "Link" part gets translated, so the rest of the code fails.

[2014-07-25 15:16] sephii opened #152 "Enter key in "Add CMS plugin" pop-in breaks the text"
If you use the enter key to submit the form (eg. when adding a link or a picture) instead of clicking on the save button, the CKEditor window closes as well and plugins seem to be added to the text but when you try to edit it again, all the text is gone.

[2014-08-01 12:45] mmarzantowicz opened #159 "Double clean HTML content"
There is a function called `clean_html(...)` which is responsible for cleaning text entered by user.

It is called in: https://github.com/divio/djangocms-text-ckeditor/blob/master/djangocms_text_ckeditor/models.py#L40::

[code]

but also in: https://github.com/divio/djangocms-text-ckeditor/blob/master/djangocms_text_ckeditor/fields.py#L39::

[code]

Is there any reason why the content is cleaned t

[2014-08-01 17:06] #159 closed, assigned to nobody

[2014-08-06 19:00] sthzg opened #160 "Question/Feature: Haystack support"
Is it possible / are there examples how to integrate content provided in ``djangocms-text-ckeditor`` plugin instances to the Haystack search index? I googled a bit but had no luck. If there are practices on how to achieve this (maybe related to ``aldryn_search``) I think it would help some developers to mention it in the docs.

[2014-08-13 13:47] #150 closed, assigned to nobody

[2014-08-14 09:37] #151 closed, assigned to nobody

[2014-08-16 02:32] Darkless012 opened #164 "CK editor not loaded when using 'collapse' fieldset."
The CK editor is not loaded properly in collapsed fieldset.
Editor shows up normally if I remove the **'classes': ('collapse', 'closed'),** from fieldset settings.
But with collapse closed it won't show even if I open collapsed fieldset.

[2014-08-20 03:27] mlvn23 opened #166 "djangocms-link child disappears when editing"
In version 2.2.0, I can add a djangocms-link child and save it. And I can see it when I look at the content. But if I try to edit the text plugin with link child, the link child disappears, and when I save it, it gets deleted from the database.

It works with version 2.1.4 (I couldn't get 2.1.6 to work due to some stack trace about safe_join).

[2014-08-27 07:34] #166 closed, assigned to nobody

[2014-08-28 05:51] nooperpudd opened #168 "How could I enable the upload image in the ckeditor ?"
I want to enable upload the image in the ckeditor, How could I set the the `CKEDITOR_SETTINGS`?

`TextEditorWidget` , about  `installed_plugins` parameter,  How should I to enable 'cms_plugins, djangocms_picture' plugins?

[2014-09-24 11:16] HiddenClever opened #173 "Widget Media is not used"
Is there any reason the base JS and CSS files are included in ckeditor.html and not in a Media definition in TextEditorWidget?

[2014-09-25 11:42] donce opened #174 "Link plugin inside text plugin not loading"
Steps to reproduce the problem:
- Add text plugin.
- Add link plugin inside of text plugin using ckeditor.
- Save text plugin.
- Open text plugin again - there is no link plugin anymore.

Actually, you can get the same result just by clicking twice on "Source" button while in ckeditor, so I guess there is a problem with parsing text plugin.

[2014-10-09 02:02] peterfarrell opened #178 "README incorrect version for CKEditor"
At the bottom of the readme, it lists the version of CKEditor as 4.3.  The current bundled version is 4.4.3

[2014-10-22 18:54] evildmp opened #181 "Current version of CKEditor has a serious bug exposed in Safari"
http://ckeditor.com/blog/CKEditor-4.4.5-Released

In recent versions of Safari, hitting return after the last line in the editor sends the cursor to the start of the first line of the editor.

This makes it extremely annoying to use - unusable in fact!

The latest 4.4.5 release of the editor fixes this.

[2014-10-23 06:50] petzlux opened #182 "CkEditor plugins , how to add more ?"
I am trying to integrate the following CKEditor plugin:
http://ckeditor.com/addon/codesnippet

The fork with the plugin added can be found here:
https://github.com/petzlux/djangocms-text-ckeditor

Now I am a bit at a loss as to how to integrate it into my DjangoCMS installation?

I tried simply adding the plugin int the config of my project as follows:

[code]

But that doesnt add the functionalit

[2014-10-24 07:28] #178 closed, assigned to nobody

[2014-10-24 07:28] #181 closed, assigned to nobody

[2014-10-27 14:11] dibell opened #185 "No changelog"
In trying to update from 2.1.4 to 2.4.1 I'm finding it very difficult to see what has changed.
Can I recommend a CHANGES.rst or something that summarises the changes and any incompatibilitys/config changes between each release?

[2014-11-03 16:16] yakky opened #186 "Configuration overridden if HTMLField is used in a model derived from AbstractText"
When rendering the `TextEditorWidget` we don't have "namespaced" intialization function and all the `HTMLField` / `body` uses the same configuration due to this https://github.com/divio/djangocms-text-ckeditor/blob/master/djangocms_text_ckeditor/templates/cms/plugins/widgets/ckeditor.html#L18
We need to implement a different initialization function for each field instance

[2014-11-04 08:28] ghost opened #187 "Html body content change on render: bug or misuse?"
Hi
I cannot understand.
Click the "source" button.
Write this html (I've purposely omitted the ">")
<a href="#"
<div
<pFoo</p
</div
</a
Re-click on the "source" button to get in "normal" mode.
The html is:
<div
<p<a href=""Foo</a</p
</div

I added in my settings
TEXT_HTML_SANITIZE = False.

It is possible, I guess, to preserve the exact html you write, isn'it?
How?
Am I doing something wrong?
Than

[2014-11-04 10:03] #187 closed, assigned to nobody

[2014-11-13 14:46] satyrius opened #190 "Allowed tags"
How to add extra allowed tags? My content manager want to add `<noindex/>` tag, but editor escapes it suddenly.

[2014-11-14 18:00] aleray opened #191 "Using bloc level elements in cms plugin templates produce invalid HTML"
Hi,

is it possible to have bloc level plugins? I can't find how to not wrap plugin output into `<p>` tags.

Thanks

[2014-11-16 11:25] #190 closed, assigned to nobody

[2014-11-16 11:32] #191 closed, assigned to nobody

[2014-11-16 11:35] #182 closed, assigned to nobody

[2014-11-16 11:36] #174 closed, assigned to nobody

[2014-11-17 15:31] giorg opened #192 "diango 1.6 ckeditor loading multiple times - upgrade?"
Hi,

using Django 1.6.5 and djangocms-text-ckeditor 2.1.6 I see the ckeditor is loading multiple times, once per textarea I defined in my model. This makes the loading of the page (admin side) very slow. I've read in the doc of ckeditor this should be solved with version 3 of ckeditor, is it a bug or should I upgrade the ckeditor? In this case, how to?

thanks  a lot

[2014-11-25 22:39] creimers opened #195 "Question: AlignJustify"
In the standard installation it appears djangocms text ckeditor doesn't provide justified text.

In the [CKEditor docs](http://docs.ckeditor.com/#!/api/CKEDITOR.config-cfg-justifyClasses) it reads that justify settings can be made like so:

`[ 'AlignLeft', 'AlignCenter', 'AlignRight', 'AlignJustify' ]`

Trying to set those options in `settings.py` like so

[code]

doesn't get me anywhere.

How do

[2014-11-28 10:07] #195 closed, assigned to nobody

[2014-12-01 10:21] #186 closed, assigned to nobody

[2014-12-16 15:53] mkoistinen opened #201 "Recent change makes this plugin unusable in Django 1.4."
See comment here:

https://github.com/divio/djangocms-text-ckeditor/commit/c7b978bb5ceea4fe326a872cc5578788d4c9e803#diff-0b0836610c5d71537d1196440dbaaf07R7

[2014-12-17 05:39] SalahAdDin opened #204 "Alternative for django-ckeditor."
Hey man, i am confused, is necessary install this plugin for put in the pages? Isn't enough installin django-ckeditor?

Tank you  very much.

[2014-12-20 12:35] #204 closed, assigned to nobody

[2014-12-23 08:46] ghost opened #206 "Editor not rendered if included into a admin fieldsets 'class collapse'"
Hi
in the models.py
**description = HTMLField(blank=True)**

in the admin.py
fieldsets = (

[code]

The field is displayed as normal.
Without the **collapse** class, it works as expected.

Pietro.

[2014-12-26 23:47] #206 closed, assigned to nobody

[2014-12-26 23:47] #201 closed, assigned to nobody

[2014-12-26 23:48] #164 closed, assigned to nobody

[2014-12-27 21:20] satyrius opened #207 "Remove cms plugins from toolbar"
How to configure `ckeditor` CMSPlugins toolbar dropdown? e.g. I don't want to allow users upload images with text editor.

[2014-12-27 23:42] #207 closed, assigned to nobody

[2015-01-01 11:28] yakky commented on #207
By restricting the plugins in the placeholder (by using the `plugins` key in `CMS_PLACEHOLDER_CONF` you can remove any unneeded plugin from the text plugin)

[2015-01-07 00:26] jsma opened #212 "Data corruption on child plugin delete"
I have a model with a PlaceholderField that allows TextPlugin and TextPlugins in turn can have many nested plugins. I'm finding that if I create a new TextPlugin, then add a LinkPlugin (aka select it from the plugins list and hit ok so it's entered into the WYSIWYG) BUT then delete the plugin before saving I get a 500 error.

The problem is that on save, the [text plugin checks](https://github.com

[2015-01-07 00:34] jsma commented on #212
I can't seem to reproduce this when editing a django-cms Page, only a custom model with a PlaceholderField.

[2015-01-07 00:59] jsma commented on #212
I **can** reproduce this with django-cms Page's as well as custom models with PlaceholderFields (deleted previous comment that suggested this didn't apply to Page plugins).

[2015-01-08 23:11] 8ksoft opened #214 "CMS Plugins dropdown appears empty"
Hi,

I'm using  Django==1.6.8, djangocms==3.0.7 and djangocms-text-ckeditor==2.4.3. When open the CK Editor, I see CMS Plugin dropdown as always, but when click on them, the options list appears empty, as show in the picture below.

![captura](https://cloud.githubusercontent.com/assets/989490/5672715/f0c90146-9771-11e4-90f1-9c3345200649.jpg)

In settings I have included the following configuration

[2015-01-08 23:36] 8ksoft commented on #214
Downgrade to version 2.3.0 makes that the plugin dropdown works again.

[2015-01-09 12:22] creimers commented on #182
I got it to work like this:

[code]

Codesnippet's dependencies appear to be [widget](http://ckeditor.com/addon/widget) and [lineutils](http://ckeditor.com/addon/lineutils), which also (just like codesnippet) have to be copied to ckeditor's plugin dir (``djangocms_text_ckeditor/ckeditor/plugins``).

[2015-01-09 20:34] yakky commented on #214
Can't reproduce on the standard django CMS project or a custom project by copy/pasting the above placeholder configuration

@mkoistinen @evildmp @ojii could you give this a try?

[2015-01-11 19:23] ldgarcia commented on #106
You are right.

[2015-01-11 21:17] yakky commented on #106
Thanks @sthzg @ldgarcia I totally missed that

[2015-01-12 06:03] #106 closed

[2015-01-13 11:34] darbula commented on #214
Same thing here, downgrading to 2.3.0 brought back the plugin dropdown.

[2015-01-18 19:00] Moini opened #218 "Canceling editing a link plugin leads to persistance of plugin contents when editing other link plugins"
Might be related to #116

1.) Make two different plugin links (those with img tag) with the editor (one to 'http://foo.com', one to 'http://bar.com')
2.) Right-click on foo.com link, Choose Edit Plugin
3.) Cancel
4.) Right-click on bar.com link. Choose Edit Plugin
5.) Now the editing dialog shows (and would save!) the contents of the last opened dialog foo.com.

This does not happen if you choose

[2015-01-18 23:36] Moini commented on #218
More info:
I'm using FF 35 on LM 17 (Mozilla Firefox for Linux Mint 1.0 is the second label in 'About')
Using web developer toolbar, caching deactivated completely with it.
But still I sometimes have issues with cached js in iframes (don't know if there's a relation).

This does not happen in Chromium for me, and a colleague only sees the old form flashing shortly in IE and also in FF (didn't ment

[2015-01-18 23:38] Moini commented on #218
This is a setup which works:

[2015-01-18 23:41] jrief commented on #218
AFAIK this is caused by the usage of MPTT for managing plugins.
DjangoCMS > 3.1 uses treebeard instead of MPTT and there this has been fixed.

[2015-01-19 00:03] Moini commented on #218
We are running 3.06.
So I'll wait for 3.1 and use Chromium in the meantime for this kind of task ;)
Thank you very much!

[2015-01-19 14:13] darbula commented on #214
@yakky to reproduce this user has to be staff and not superuser.

[2015-01-28 14:58] Moini opened #220 "More problems with plugin links"
Hi,

editing plugin links behaves weird for us, there are several problems which occur:

1.) Right-click on a plugin-link in the editor, choose 'Edit Plugin', change text of the link, save -> Link is duplicated on the page. This does not seem to occur if you double-click to select the whole link first.

2.) Changing the text of the link in the editor directly does not have any effect - it looks co

[2015-02-04 08:38] donce opened #222 "Adding CKEditor plugins"
Is there a way to add CKEditor plugins (http://ckeditor.com/addons/plugins/all) to TextEditorWidget? I am using this widget outside of cms.

[2015-02-04 09:04] #222 closed

[2015-02-07 21:21] Moini opened #223 "Wishlist: Scroll to correct point in html when toggling to source mode"
For very long texts, it's difficult to find the correct place to continue editing when toggling to source mode.

If it would automatically scroll to the place where the cursor currently is in the 'normal' editor, this would make things a lot easier.

[2015-02-07 21:24] Moini opened #224 "Wishlist: Syntax highlighting for html in source mode"
To make editing the source html easier, it would be nice if it used some syntax highlighting.

[2015-02-08 13:56] yakky commented on #224
There are ckeditor addons that does this (like http://ckeditor.com/addon/syntaxhighlight) and you can easily add them to the project configuration

[2015-02-08 13:56] #224 closed

[2015-02-08 13:58] yakky commented on #223
I think this is out of the scope of this plugin. Shipped ckeditor configuration can be easily extended with standard ckeditor addons.
I don't know if such an addon exists, though

[2015-02-08 15:48] Moini commented on #224
Thank you, yakky!

[2015-02-08 16:03] Moini commented on #224
(although I think this plugin does something different - I meant something to ease editing the html source, but this plugin seems to add color to the saved page).

[2015-02-08 17:54] doctormo commented on #223
Since the ckeditor is shipped with-in the plugin, should the plugin not be in control of the most ideal set of ckeditor plugins? We've noticed the very vanilla nature of the editor and how difficult it is to extend. Could the plugin provide some mechanisms to make this easier?

[2015-02-08 17:58] yakky commented on #223
enabling standard ckeditor addons is as easy as extending CKEDITOR_SETTINGS declaring the new addons and put the addon files in ``static/djangocms_text_ckeditor/ckeditor/plugins/`` in any application available in the project
Supporting every sensible ckeditor addon would render this plugin quite messy and burdensome to support

[2015-02-11 18:04] jsma opened #225 "Clarify docs on ordering of INSTALLED_APPS"
Per @yakky's [comment](https://github.com/divio/django-cms/issues/3784#issuecomment-73928726) text plugin does *not* need to be placed before cms and in fact should be placed after, especially in the case of using a custom user model.

[2015-02-27 10:24] quiqueporta opened #226 "No SpellChecker implemented"
Hi! i'm trying to add SpellChecker to the widget but seems is not implemented.

[code]

[2015-02-27 11:41] yakky commented on #226
Spellchecker ckeditor addon is not included.
You must add to you project by downloading/installing as any other ckeditor addon

[2015-02-27 11:41] #226 closed

[2015-03-03 12:45] Mirodil opened #228 "HTMLField' object has no attribute 'attrs'"
Here is exception:

`Exception Value:
'HTMLField' object has no attribute 'attrs'`

[code]

[2015-03-06 14:12] darbula commented on #214
Also after downgrading to 2.3.0. all plugins are shown - `CMS_PLACEHOLDER_CONF` plugins is not respected.

[2015-03-06 17:32] furiousdave opened #229 "Using the language template variable in settings.py does not work"
It appears that when language is set to use a template variable in settings.py, as demonstrated in the readme:

CKEDITOR_SETTINGS = {
    'language': '{{ language }}',
    ...

that this string just gets escaped and printed out in the rendered template.

Confirm by viewing the page source of the edit-plugin view, /admin/cms/page/edit-plugin/xxx, and checking out the ckeditor init.

Here's mine:
CM

[2015-03-06 17:33] satyrius opened #230 "Do not wrap ImagePlugin into paragraph"
Editor wraps text into paragraphs automatically, and it's great. But I don't want it to wrap ImagePlugin into `<p/>` because it has its own render template which add all I need. How to configure custom behaviour for auto-wrapping?

[2015-03-07 21:07] yakky commented on #230
You can select the "div" element from the dropdown menu before or after inserting an image plugin.
This is actually a ckeditor setting anyway, not related to the django CMS plugin

[2015-03-07 21:07] #230 closed

[2015-03-07 22:47] yakky commented on #229
I can't reproduce on a basic django CMS setup.

You can test this on a minimal project:

    git clone https://github.com/divio/djangocms-text-ckeditor.git
    cd djangocms-text-ckeditor
    virtualenv env
    . env/bin/activate
    pip install -r requirements-tests.txt
    djangocms-helper djangocms_text_ckeditor server --cms --extra-settings=test_settings

This will create a minimal test website

[2015-03-07 22:56] yakky commented on #214
@darbula could you test latest master with django CMS 3.0.12? I still can't reproduce using a staff user with all permission (CMS_PERMISSION on and off) and the above ``CMS_PLACEHOLDER_CONF``

[2015-03-07 22:57] yakky commented on #192
Closing due to no feedback

[2015-03-07 22:57] #192 closed

[2015-03-07 23:03] yakky commented on #228
@Mirodil more context is needed to understand what's going on.
Where the templates come from?
I cannot see any reference to ``attrs``
What's the model that triggers the error?

[2015-03-08 08:17] #212 closed

[2015-03-08 20:41] darbula commented on #214
Everything is fine, the mistake was in my `CMS_PLACEHOLDER_CONF` I did not realize that `"plugin"` is the primary plugin filter for placeholder i.e. that every plugin has to be listed there or in `"text_only_plugins"`, that is, I thought that listing plugins in `"child_classes"` was enough to let them be selected in `TextPlugin`. Additionally `"text_only_plugins"` was not used (it seems deprecated

[2015-03-08 20:48] yakky commented on #214
@darbula thanks for your feedback
@8ksoft could you retest this on latest master / django CMS 3.0.12?

[2015-03-09 20:15] furiousdave commented on #229
Ah interesting. Checked one of my other projects and it does work there as well. Now to double check versions/look for conflicts in the project. Thank you for testing.

[2015-03-16 11:23] kartikdanidhariya commented on #9
Thanks that work for me also

[2015-03-31 09:35] zsoobhan opened #232 "Modal fills screen"
When I double click to edit a text box, the ckeditor modal pops up as intended however it fills the screen completely to the point where it is unusable. i.e. the save buttons are off the window and I have to reduce my font size to even see the edge. Any ideas? Perhaps something I can add to ```CKEDITOR_SETTINGS```?
![django_ckeditor_bug](https://cloud.githubusercontent.com/assets/6103879/6916109/6

[2015-04-07 07:59] brigantino2 opened #233 "Provide drag&drop image saving for HTMLField"
In the docs you read

That's a great feature, but as far as I've seen, if I'm not mistaken, this works only with plugins, that means, if you have a text area in your plugin, you will be able to save dragged&dropped images.
On the other hand this feature is not provided for ```HTMLField```, so if you want to use that in your models, you'll have the same ckeditor window, but saving drag&drop images

[2015-04-08 15:19] marksweb opened #234 "Path to plugin.js seems incorrect"
I've just noticed the text plugin failing to load locally after it couldn't find `plugin.js`.

On inspecting the path locally I've got `static/djangocms_text_ckeditor/ckeditor_plugins/cmsplugins/plugin.js`

But in [cms.ckeditor.js#L60](https://github.com/divio/djangocms-text-ckeditor/blob/2.4.3/djangocms_text_ckeditor/static/djangocms_text_ckeditor/js/cms.ckeditor.js#L60) the path seems to miss ou

[2015-04-13 06:28] yakky commented on #234
Path should be correct (``settings.static_url`` is set here https://github.com/divio/djangocms-text-ckeditor/blob/2.4.3/djangocms_text_ckeditor/templates/cms/plugins/widgets/ckeditor.html#L25 and includes ``djangocms_text_ckeditor`` part)
Have you recently updated from older version?

[2015-04-13 06:31] yakky commented on #233
Given how currently the image inclusion works in this plugin (i.e.: by using plugins) it's not currently possible to implement drag and drop in HTMLField.
This will require an entirely different strategy to support images in HTMLField

[2015-04-13 14:47] zsoobhan commented on #232
The issue was being caused by the menu being shown in the base template.

[code]

[2015-04-13 14:47] #232 closed

[2015-04-13 20:29] marksweb commented on #234
Don't think I've updated recently, and it only seemed to happen locally so maybe just an odd scenario on my machine I guess. If I see it on a remote machine I'll come back! Thanks @yakky

[2015-04-13 20:29] #234 closed

[2015-04-18 12:58] yakky commented on #229
Closing this

[2015-04-18 12:58] #229 closed

[2015-04-20 20:03] nicolas8448 opened #237 "Problem with inline admin integration"
I seem to have a problem with the HTMLField inside a custom plugin with Inlines created inside Django CMS.

When I enter inside the modal in the front-end to edit the plugin, all the inlines with HTMLField works, but when I press the add-row button, the next inline starts with a Textfield instead of the Ckeditor field.

The function use to call the CKeditor remains like this : initCMSCKEditorid_sl

[2015-04-21 18:46] jbazik opened #238 "CMS Plugins menu does not honor plugin_modules or plugin_labels CMS settings"
Django-cms allows one to alter the menu display of plugins both by controlling the way they are grouped and the way they are named.  These are the plugin_modules and plugin_labels settings in CMS_PLACEHOLDER_CONF.  The ckeditor "CMS Plugins" menu ignores these settings.  For a more consistent experience for users, it would help if this menu matched the one offered by the cms itself.

Grouping and

[2015-04-23 15:38] FinalAngel opened #239 "Add mobile fallback support to core"
[code]

into line 56 of `cms.ckeditor.js`

[2015-04-26 15:43] yakky commented on #239
This would disable ckeditor i mobile platform, rights. is it the best solution available?

[2015-04-26 20:01] FinalAngel commented on #239
Yes, the ckeditor has poor support for mobile currently

[2015-04-29 14:53] #147 closed

[2015-05-06 09:18] #239 closed

[2015-05-10 08:55] yakky commented on #238
@jbazik please check above PR

[2015-05-22 21:34] yakky commented on #238
Ping @jbazik any feedback on #243?

[2015-05-22 23:05] jbazik commented on #238
Sorry - very busy week.  Will test and respond shortly.

John

[2015-05-24 07:23] yakky commented on #238
@jbazik thanks a lot!

[2015-05-25 19:08] jbazik commented on #238
Looks good.  I'll test it tomorrow when I'm back at work.

John

[2015-05-27 01:20] jbazik commented on #238
Fixed!  Thanks!

John

[2015-05-27 09:26] yakky commented on #238
Thanks for reporting and support

[2015-05-27 09:26] #238 closed

[2015-05-30 13:10] stefanfoulis opened #244 "img tags loose their src attribute on save"
The src attribute seems to be removed on manually added ``img`` tags by the backend.
E.g when adding
[code]
in the "source" mode of the ckeditor.

[2015-05-30 14:40] yakky commented on #244
@stefanfoulis which html5lib version in the virtualenv?

[2015-06-01 13:08] jproffitt opened #245 "Issue migrating with version 2.5.0"
I just upgraded to version 2.5.0, removed the entry in `MIGRATION_MODULES`, and ran migrate. I got this strange error. Everything worked fine before upgrading.

    django.core.exceptions.ImproperlyConfigured: Application labels aren't unique, duplicates: djangocms_text_ckeditor

[2015-06-01 21:29] yakky commented on #245
This appears when an application is present multiple times in ``INSTALLED_APPS``. What's your setting?

[2015-06-01 21:39] jproffitt commented on #245
That's not the case:

    1

I am using Django version 1.7.8. If I install `djangocms-text-ckeditor==2.4.3`, and run migrate, there are no issues at all. After installing version 2.5.0, and changing nothing at all other than removing the relevant item in `MIGRATION_MODULES`, I get the error when migrating. I even tried uninstalling completely, and making sure all .pyc fils are gone, then installin

[2015-06-01 21:41] yakky commented on #245
Which django CMS version are you using?

[2015-06-01 21:53] jproffitt commented on #245
3.1.0

[2015-06-02 12:30] ooskr commented on #245
I did this to get it to work with Django 1.7.8 and Django CMS 3.1.0

https://docs.djangoproject.com/en/1.7/ref/applications/#for-application-authors

[2015-06-02 12:46] yakky commented on #245
@ooskr This has been tested on Django 1.7 without the AppConfig just fine, I wonder why it's required.
Anyway @jproffitt could you test this branch https://github.com/yakky/djangocms-text-ckeditor/archive/django_app.zip? (``pip install https://github.com/yakky/djangocms-text-ckeditor/archive/django_app.zip`` will install the updated package)

[2015-06-02 13:07] jproffitt commented on #245
Well I get a different error now, but thats just because `apps.TextCkeditorConfig.name` is misspelled. Once I correct that spelling, migrating works like normal!

Just to double check, I installed 2.5.0 again, and I got that error again. But I noticed another migration shows up in the migration folder when I install 2.5.0, `0002_rename_plugin.py`, which is a south migration. There's actually three

[2015-06-02 13:44] yakky commented on #245
Ouch, There's really something wrong with the migrations (which I guess was the real issue). I fixed the typo and expect 2.5.1 in a few hours

[2015-06-02 14:02] jproffitt commented on #245
Thanks for your work on this!

[2015-06-02 16:40] #245 closed

[2015-06-06 10:26] benzkji opened #247 "2.5.1 does not migrate on django 1.7"
I'm still investigating, but it seems to me that I still need

[code]

for djangocms-text-ckeditor to work with django 1.7.

I looked at the installed package (did pip install djangocms-text-ckeditor today, and it installed 2.5.1), and there are three directories: migrations, migrations_django and south_migrations. the "migrations" folder looks like containing south migrations? could be related to

[2015-06-06 10:32] yakky commented on #247
Apparently some error in the packaging phase.
2.5.2 has been released to fix this

[2015-06-06 10:32] #247 closed

[2015-06-06 10:45] benzkji commented on #247
thx. FAST!

[2015-06-11 08:11] FinalAngel opened #248 "Latest release 2.5.2 has migrations errors"
on django 1.7:

[code]

[2015-06-11 08:15] FinalAngel commented on #248
``MIGRATION_MODULES`` is not required anymore, just removing the settings resolves that issue

[2015-06-11 08:15] #248 closed

[2015-06-17 00:37] benzkji opened #249 "djangocms-link instances loose "name" attribute in popup dialog after adding another link instance"
to reproduce:
- open a ckeditor instance with an existing djangocms-link
- insert a new djangocms-link instance (select some text, then choose "Link" from plugin dropdown).
- double click the existing link. it's name field has the value of the existing one
- if the new link is inserted without any text selected, all links will have blank "name" fields.

versions:
djangocms-text-ckeditor==2.5.2 wit

[2015-06-17 10:42] dPeS opened #250 "TEXT_HTML_SANITIZE don't work for onclick attribute"
Hi all,

I have a contact form placed in ckeditor plugin which is send via ajax call from onclick attribute. I've found out that this attribute is still stripped out with TEXT_HTML_SANITIZE = False which is very confusing.

also tried to TEXT_ADDITIONAL_ATTRIBUTES = ('onclick,) without luck...
djangocms-text-ckeditor (2.3.0)

Regards

[2015-06-17 10:44] ojii commented on #250
The offending line seems to be https://github.com/divio/djangocms-text-ckeditor/blob/master/djangocms_text_ckeditor/html.py#L18, if it's set to ``False`` it should probably just return the input.

In a related note, I feel like the docs about this setting should make the dangers of this setting more explicit.

[2015-06-17 16:25] grzegorzbialy commented on #244
@yakky I ran into this today. It looks like src attribute is cleared with html5lib 0.9999/1.0b5 and 0.99999/1.0b6.
Downgrading to 0.999 resolves issue.

[2015-06-17 18:46] yakky commented on #244
Newer versions of djangocms_text_ckeditor have a versioned dependency on html5lib for this very reason https://github.com/divio/djangocms-text-ckeditor/blob/master/setup.py#L9

[2015-06-17 18:46] #244 closed

[2015-06-20 17:46] yakky commented on #250
@dPeS You can configure the sanitiser https://github.com/divio/djangocms-text-ckeditor#configurable-sanitizer by allowing specific attributes to be preserved.

@ojii while I tend to agree with you, sanitisation is a standard term for this operation. We migth add big fat warnings in the relevant section of the documentation to warn against disabling it, though

[2015-06-21 06:13] dPeS commented on #250
"also tried to TEXT_ADDITIONAL_ATTRIBUTES = ('onclick,) without luck... "

[2015-06-21 06:31] yakky commented on #250
@dPeS Did you re-enable ``TEXT_HTML_SANITIZE``? Still on version 2.3?

[2015-06-21 06:53] dPeS commented on #250
yes a was trying >one< option in time, could redo tests if You want

[2015-06-21 06:58] yakky commented on #250
If it does not work with 2.5.2, it's definitely a bug that needs to be addressed

[2015-06-21 06:59] dPeS commented on #250
ok, I will test it on 2.5.2 today and let You know

On Sun, Jun 21, 2015 at 8:58 AM, Iacopo Spalletti <notifications@github.com>
wrote:

[2015-06-21 17:58] dPeS commented on #250
tested on 2.5.2 with:

TEXT_ADDITIONAL_ATTRIBUTES = ('onclick',)

still the same, attribute is removed

[2015-06-22 06:44] yakky commented on #250
@dPeS thanks for your report and checks. Which version of html5lib is installed?

[2015-06-22 07:39] dPeS commented on #250
pip install ==2.5.2 forced html5lib 0.999 to install, but before with 2.3.0 I had 1.0b1 installed

[2015-06-29 06:27] FinalAngel opened #251 "Allow data attributes"
need to proper format ``CKEDITOR.config.allowedContent = true;``

[2015-07-01 18:50] astagi commented on #251
@FinalAngel working on.. can you assign this issue to me?

[2015-07-02 08:14] FinalAngel commented on #251
I apparently can, but I'll keep it in mind @astagi - awesome!
It also looks like that it is connected to html5lib used in cms

[2015-07-02 12:41] astagi commented on #251
@FinalAngel no problem :) yes, I override the default behaviour of html5lib, now you can write some custom classes to tell sanitisation process how to treat certain attributes (e.g. data attributes https://github.com/astagi/djangocms-text-ckeditor/blob/d4547d1952af429153c1853db8dd1446557fa0b3/djangocms_text_ckeditor/attribute_parsers.py). I get some strange errors on Travis using Django 1.4 + CMS

[2015-07-02 18:52] #251 closed

[2015-07-06 04:27] 8ksoft commented on #214
Sorry for my late feedback. I can confirm that the problem persist with django-cms 3.0.14 and djangocms-text-ckeditor==2.4.3. Maybe some problem with my environment (I have a lot of apps installed, including djangocms-ckeditor-filer). I will try this with a clean environment and share my feedback.

[2015-07-12 01:49] blueyed commented on #248
For reference, I've filed a ticket in Django about hiding of the `ImportError` in this case: https://code.djangoproject.com/ticket/25109

[2015-07-22 21:02] raiderrobert opened #259 "Disabling ckeditor completely for mobile has unintended side effect"
In the following commit https://github.com/divio/djangocms-text-ckeditor/commit/d2044099bab3ee769dbf999a7fa199599e9f3b92 , mobile was completely disabled without much explanation.

OK, but something that djangocms-text-editor does when using the HTML field is it disables the normal display of the text area:
[code]

The workaround I've been using the script below at the bottom of the page:

[code]

[2015-07-31 23:19] jgoettsch opened #261 "inner iFrame not expanding to full container size"
See an example here:

![screen shot 2015-07-31 at 4 11 51 pm](https://cloud.githubusercontent.com/assets/384699/9019359/0b696c3e-379f-11e5-908f-9e9608c75382.png)

These seem to be the relevant installed packages:

    $ pip freeze
    cmsplugin-filer==0.10.2
    Django==1.7.9
    django-cms==3.0.14
    django-filer==0.9.12
    django-mptt==0.6.1
    djangocms-admin-style==0.2.7
    djangocms-text-

[2015-08-26 16:15] jgoettsch commented on #261
Updating to 2.6.0 did not fix the issue.

[2015-08-26 18:05] jgoettsch commented on #261
The problem exists because [cms.ckeditor.js is looking for the wrong body class in the CMS.CKEditor._isAloneInModal call](https://github.com/divio/djangocms-text-ckeditor/blob/master/djangocms_text_ckeditor/static/djangocms_text_ckeditor/js/cms.ckeditor.js#L90)

In Django 1.6, [the admin/change_form.html plugin applies a class name of {{ opts.app_label }}-{{ opts.object_name.lower }}](https://gith

[2015-08-27 06:03] ShivangPandey opened #265 "relation "djangocms_text_ckeditor_text" does not exist LINE 1: ...r_id", "djangocms_text_ckeditor_text"."body" FROM "djangocms..."
I am new to this django framework and currently i am exploring this framework.
When i tried to implement the django cms text plugin to my existing project, it shows the error when i tried to use the plugin. If i am not using the installed plugin then everything works fine but using the text plugin causes the issues. I have tried all the above mentioned solutions but none of them solved the problem

[2015-08-27 06:08] ShivangPandey commented on #265
this issue is same as of tickect number #112 and i have tried all the solutions given in that issue but it is not resolving the issue.

[2015-08-27 06:10] yakky commented on #265
Are you following the django-cms tutorial? http://django-cms.readthedocs.org/en/develop/introduction/index.html

[2015-08-27 06:11] ShivangPandey commented on #265
yaa i implemented it buy following the tutorial it self. And followed each and every step mentioned

[2015-08-27 06:12] ShivangPandey commented on #265
i also followed the solution mentioned in ticket number #13 and still the error is same

[2015-08-27 06:55] ShivangPandey commented on #265
Yeah I resolved this issue....the main thing was that i was using django 1.7 and by default it was trying to run south migrations so in order to resolve that i just added this to MIGRATION_MODULE  under the settings.py:
'djangocms_text_ckeditor': 'djangocms_text_ckeditor.migrations_django',

This will explicitly tell the framework to run migrations instead of south migrations.
Since the main issue

[2015-08-27 06:56] #265 closed

[2015-08-27 06:59] ShivangPandey commented on #13
Yeah I resolved this issue....the main thing was that i was using django 1.7 and by default it was trying to run south migrations so in order to resolve that i just added this to MIGRATION_MODULE under the settings.py:
'djangocms_text_ckeditor': 'djangocms_text_ckeditor.migrations_django',

This will explicitly tell the framework to run migrations instead of south migrations.
Since the main issue

[2015-08-27 07:10] yakky commented on #265
This should not be needed with latest djangocms_text_ckeditor. Which versiondo you have installed?

[2015-08-27 07:17] ShivangPandey commented on #265
djangocms-text-ckeditor==2.6.0
I guess this is the latest version

[2015-08-27 10:40] yakky commented on #265
djangocms-text-ckeditor==2.6.0 is the latest, but it does not have ``djangocms_text_ckeditor.migrations_django`` module, and it should not require any ``MIGRATION_MODULE``

[2015-08-28 12:03] barseghyanartur opened #266 "Smarter approach of white-listing additional tags and attributes."
At the moment, additional tags and attributes are set separately:

    TEXT_ADDITIONAL_TAGS = ('iframe', 'img')
    TEXT_ADDITIONAL_ATTRIBUTES = ('src', 'scrolling', 'allowfullscreen',
                                  'frameborder', 'width', 'height',)

It would be much better to have something like this instead:

    TEXT_ADDITIONAL_TAGS = {
        'iframe': ('src', 'scrolling', 'allowfullscree

[2015-08-28 16:00] yakky commented on #266
@barseghyanartur it'd be a nice feature, but I don't think html5lib (which we use for checking attributes and tags) supports this syntax

[2015-08-28 20:18] barseghyanartur commented on #266
@yakky:

`bleach` is based on `html5lib` too but it does have that syntax. I first used it about 5 years ago and then it was rock-solid. I beleive it changed only to better since then.

- http://bleach.readthedocs.org/en/latest/clean.html#attribute-whitelist

So, I'd say, use `bleach` for stripping out the unwanted tags/attributes.

[2015-08-29 11:40] yakky commented on #266
@barseghyanartur it's an interesting option. Migrating to bleach will require some planning, though.

[2015-09-18 05:13] koobs opened #268 "OperationalError at / no such table: djangocms_text_ckeditor_text"
After pip install'ing ```djangocms-text-ckeditor``` and adding it to ```INSTALLED_APPS```, the following error is observable when creating the first test page (in a fresh Django CMS install) and attempting to use the Text plugin on the ```base_content``` placeholder using the example templates in the installation documentation:

![20150918 150845-operationalerror at _](https://cloud.githubusercont

[2015-09-18 12:38] mkoistinen commented on #268
Hi @koobs, I'm sorry you're having trouble. Can you try moving 'djangocms_text_ckeditor' to *after* 'djangocms_admin_style' and let me know if that helps?

[2015-09-18 13:12] koobs commented on #268
@mkoistinen no apologies necessary and thank you for the reply. I'm observing the same issue with your suggest change in settings order as follows:

[code]

[2015-09-18 13:26] cyberstar commented on #268
@koobs Hi! can you please provide a little bit more info on steps to reproduce?
I mean did you used ``djangocms-installer`` to install ``django-cms``?
What is database engine?

If you were using ``djangocms-installer`` and an ``sqlite3`` engine as a database backend then can you please check, maybe there is 2 database files one is near settings.py (or manage.py) and one may be located in the direc

[2015-09-18 13:47] koobs commented on #268
@cyberstar The issue was resolved by manually removing the sqlite3 database. Something was precluding the ckeditor tables from being created during migrate, but I have no idea what

[2015-09-18 13:48] #268 closed

[2015-09-23 20:09] alsoicode opened #269 "Can't override template, Uncaught Error: Syntax error, unrecognized expression: #:visible"
When I attempt to override `plugins/widgets/ckeditor.html`, I get:

    Uncaught Error: Syntax error, unrecognized expression: #:visible

even if I just copy/paste the exact same contents into my override. What am I doing wrong?

[2015-09-23 21:12] alsoicode commented on #269
Nevermind. Ended up being a random issue.

[2015-09-23 21:12] #269 closed

[2015-09-24 16:33] stevandoh opened #270 "fontawesome tag disappear when I edit the text"
HI
 I ve been struggling to add fontawesome to my text . I understand that there is an issue with empty i tag . I ve try to solve the issue by adding this line to the config.js : config.protectedSource.push(/<i[^>]*><\/i>/g); without success . Any help ll be welcomed

Thanks in advance

[2015-09-25 09:53] #261 closed

[2015-10-01 17:30] creimers commented on #237
+1

[2015-10-06 07:27] rikaa commented on #237
+1

[2015-10-07 09:00] cstrap commented on #214
Downgrading djangocms-text-ckeditor from 2.4.3 to 2.3.0 all plugins are shown.
My environment:
[code]

[2015-10-27 17:53] FinalAngel opened #271 "Link copy-pasting can lead to data loss"
When copy-pasting links a reference to the plugin is pasted instead of a copy of the plugin. Which causes issues in the following cases:

* Copying a link in a Text field (With Ctrl-C) and pasting it somewhere else and then changing it (either its title or the target) will also change the original link
* Copying the contents of a Text instance (again by selecting the text in the WYSIWYG and Ctrl-C

[2015-11-06 15:55] jproffitt opened #273 "import_by_path is deprecated in in django 1.8"
djangocms_text_ckeditor/html.py:38: RemovedInDjango19Warning: import_by_path() has been deprecated. Use import_string() instead.
        parser_classes.append(import_by_path(parser_class))

[2015-11-08 23:31] rafadev opened #274 "Image alignment with cmsplugin_filer_image"
I'm using the integration with the cmsplugin_filer_image plugin, and what I can't find the way around is how to float the selected image inside CKEditor itself. What happens is, on the filer plugin, I can select align, and choose left, right, or center. However inside the editor the image is inserted as a normal image, without any specific classes, so I can't display as floating. On the final rend

[2015-11-13 08:13] yakky commented on #271
Can we hijack the copy action in the javascript. It's the only way we can try to fix this

[2015-11-13 08:13] yakky commented on #271
(sorry, closed by miostake)

[2015-11-13 09:03] FinalAngel commented on #271
hehe no problem @yakky we would probably have to make sure the rendering engine actually copies it back correctly. I think thats the cleanup magic by ckeditor

[2015-11-14 11:11] #273 closed

[2015-11-19 14:19] FinalAngel commented on #21
Clsoing in favour of #78

[2015-11-19 14:19] #21 closed

[2015-11-19 14:21] FinalAngel commented on #51
Closed as the discussion in https://github.com/divio/djangocms-text-ckeditor/pull/35 has been resolved

[2015-11-19 14:21] #51 closed

[2015-11-19 14:21] FinalAngel commented on #56
You can control the height using css

[2015-11-19 14:21] #56 closed

[2015-11-19 14:22] FinalAngel commented on #57
this has been resolved :)

[2015-11-19 14:22] #57 closed

[2015-11-19 14:23] FinalAngel opened #285 "[META] UI/UX Enhancements"
This Issue collects relevant UI / UX enhancement ideas.

**General**
- [ ] Consider working with: https://github.com/django-ckeditor/django-ckeditor
- [x] Add drag&drop for images/files (#79 #233)
- [ ] Copy plugins inside text editor

**Nested Plugins**
- [x] Add real preview and remove `<img>` (#143, #220, #274)
- [x] Allow resizing of images inside the editor (#68, #120)
- [x] Improve saving/op

[2015-11-19 14:23] FinalAngel commented on #68
closed in favour of #285

[2015-11-19 14:23] #68 closed

[2015-11-19 14:49] FinalAngel commented on #69
For this we have the "Save and continue editing" button. This is currently not possible inside the ckeditor. But we will be working on better positioning.

[2015-11-19 14:49] #69 closed

[2015-11-19 14:49] FinalAngel commented on #72
Closing as it has been documented

[2015-11-19 14:49] #72 closed

[2015-11-19 14:50] #74 closed

[2015-11-19 14:50] #77 closed

[2015-11-19 14:51] FinalAngel commented on #79
closed as it has been fixed but also considering #285

[2015-11-19 14:51] #79 closed

[2015-11-19 14:51] #83 closed

[2015-11-19 14:53] FinalAngel commented on #97
mentioned in #285 this package is mainly for django-cms, thus the name

[2015-11-19 14:53] #97 closed

[2015-11-19 14:54] #109 closed

[2015-11-19 14:54] #113 closed

[2015-11-19 14:54] #115 closed

[2015-11-19 14:54] #116 closed

[2015-11-19 14:55] FinalAngel commented on #120
closed in favour of #285

[2015-11-19 14:55] #120 closed

[2015-11-19 14:55] FinalAngel commented on #131
closed in favour of #285

[2015-11-19 14:55] #131 closed

[2015-11-19 14:56] #141 closed

[2015-11-19 14:57] FinalAngel commented on #143
closed in favour of #285

[2015-11-19 14:57] #143 closed

[2015-11-19 14:58] FinalAngel commented on #146
@yakky would you know the exact reason?

[2015-11-19 15:00] FinalAngel commented on #152
closed in favour of #285

[2015-11-19 15:00] #152 closed

[2015-11-19 15:00] #173 closed

[2015-11-19 15:01] FinalAngel commented on #185
newest versions have a changelog

[2015-11-19 15:01] #185 closed

[2015-11-19 15:01] #214 closed

[2015-11-19 15:01] #218 closed

[2015-11-19 15:02] FinalAngel commented on #220
closed in favour of #285

[2015-11-19 15:02] #220 closed

[2015-11-19 15:02] #223 closed

[2015-11-19 15:03] FinalAngel commented on #228
@Mirodil any updates here?

[2015-11-19 15:03] FinalAngel commented on #233
closed in favour of #285

[2015-11-19 15:03] #233 closed

[2015-11-19 15:05] FinalAngel commented on #237
sorry for the late delay @nicolas8448, would you be able to provide a screenshot so we understand the problem better?

[2015-11-19 15:05] FinalAngel commented on #249
closed in favour of #285

[2015-11-19 15:05] #249 closed

[2015-11-19 15:06] FinalAngel commented on #250
@yakky any progress here?

[2015-11-19 15:06] FinalAngel commented on #259
this has been patched in the latest version

[2015-11-19 15:06] #259 closed

[2015-11-19 15:08] FinalAngel commented on #270
This would probably a better question for the ckeditor community @stevandoh as we do not have a deep understanding of the editors internal mechanics. Did you progress so far?

[2015-11-19 15:09] FinalAngel commented on #271
closed in favour of #285

[2015-11-19 15:09] #271 closed

[2015-11-19 15:09] FinalAngel commented on #274
closed in favour of #285

[2015-11-19 15:09] #274 closed

[2015-11-19 15:22] Mirodil commented on #228
sorry, no. moved to another cms

[2015-11-19 15:45] #160 closed

[2015-11-19 15:45] #168 closed

[2015-11-19 15:48] FinalAngel commented on #228
I'm sorry to hear that @Mirodil might I ask which one you are using know?

[2015-11-20 07:23] dPeS commented on #250
for me is not relevant anymore - found a workaround, thanks d.

[2015-11-20 08:09] #250 closed

[2015-12-03 13:46] snejy commented on #214
I still experience this issue with django-cms==3.1.4 I tried djangocms-text-ckeditor with versions 2.3.0, 2.5.2, 2.7.0 but changing version does not solve the problem.

[2015-12-08 20:43] alexandrenorman opened #288 "incorrect doc for "Adding plugins to the "CMS Plugins" dropdown" in README.rst"
The link given in documentation is outdated:

    Adding plugins to the "CMS Plugins" dropdown
    --------------------------------------------

    If you have another plugin that you want to use inside texts you can make them appear in
    the dropdown by making them text_enabled.
    Check in `django-cms doc`_ how to do this.

    .. _django-cms doc: http://django-cms.readthedocs.org/en/develop

[2015-12-09 07:12] FinalAngel commented on #288
@alexandrenorman thank you very much for the report. Would you be able to open a pull request addressing the issue?

[2015-12-10 09:56] yakky opened #290 "fix helper configuration"
Due to the renaming of migration modules in some plugins used in tests leads to failure on travis

[2015-12-10 09:57] yakky commented on #288
Fixed in #290 289

[2015-12-10 09:57] #288 closed

[2015-12-10 12:33] putvande opened #291 "CSRFMiddlewaretoken"
Hi,

I'm currently running into an issue whereby djangocms_text_ckeditor doesn't send the CSRFMiddlewaretoken when adding a plugin from the dropdown menu in Django CMS.
I get a "403 Forbidden CSRF token missing or incorrect." error. When digging in the code, it seems that the CSRFMiddlewaretoken is not send.

I'm running Django 1.7.11 and Django CMS 3.1.4 with djangocms_text_ckeditor 2.8.0. When I

[2015-12-10 13:07] FinalAngel commented on #291
@putvande thank you for your feedback, this is documented in the readme:

``For django CMS 3.0 and 3.1 use djangocms-text-ckeditor <= 2.7 (e.g.: version 2.7.0).``

ckeditor 2.8.0 is for django-cms >= 3.2.0

[2015-12-10 13:07] #291 closed

[2015-12-22 07:34] yakky commented on #290
Fixed in #292

[2015-12-22 07:34] #290 closed

[2015-12-22 13:42] lukasz-virtualo commented on #33
problem reappears in 2.8.0. solved only by downgrading to 2.6.0

[2016-01-07 19:18] rgcarrasqueira opened #294 "Calling template tag inside djangocms text ckeditor"
Hi!

I would like to know if is it possible to call a template tag inside the text ckeditor, for example:

{% static "mypath/images/next.png" %} inside the text

Thanks

[2016-01-09 01:00] rgcarrasqueira opened #295 "Problems to open plugins window inside ckeditor when my site is running with a CDN like CloudFront"
Hi Folks!

I'm trying to use django-cms and djangocms-text-ckeditor running on my site and all JS and CSS files running on a CDN like AWS Cloudfront. So, I'm facing problems like bellow when I'm trying to call the plugin window inside the ckeditor dialog window already open, when the window freeze an none was opened and I catch this error at my JS console:

TypeError: CMS.$(...).on is not a functi

[2016-01-18 06:30] creimers opened #296 "Unwanted whitespace between anchor and punctuation mark"
Using the TextPlugin, I'm getting this unwanted whitespace between an anchor (filer link plugin) and a trailing punctuation mark.
<img width="249" alt="bildschirmfoto 2016-01-18 um 07 26 15" src="https://cloud.githubusercontent.com/assets/6090492/12384662/c8c31f50-bdb4-11e5-803b-5548b23b653a.png">

In the developer tools, I can see that there is some kind of strange newline before the comma. If I

[2016-01-18 14:37] pawelmarkowski opened #297 "Problem with Text plugin null position"
https://github.com/divio/django-cms/issues/4323#issuecomment-126101825

only in this text plugin position might be null. It is some kind of error.

[2016-02-11 13:08] treavis opened #298 ".cke_contents size after maximizing"
After maximizing the window .cke_contents container overflows unpredictably, resulting in hidden content. Re sizing browser window fixes the problem. ( Javascript probably incorrectly calculates initial height value ).

Temporary hack in cms.ckeditor.css: .cke_contents { max-height: 87vh !important; }

[2016-02-11 15:09] treavis commented on #298
There's also a similar problem with source editing window. When the content overflows, scroll bar is not visible. It's because source textarea gets css value from .cke_reset { box-sizing: content-box; } . Setting it to border-box seems to fix it.

Possible fix in cms.ckeditor.css: textarea.cke_source { box-sizing: border-box !important; }

[2016-03-07 16:00] czpython opened #304 "Can't delete plugin on 1.6"
This is a Django bug https://code.djangoproject.com/ticket/21846
Caused by 67c55cc908e799012dcf5bd28cedef377ef2a494

[2016-03-07 18:30] czpython commented on #304
Fixed by #305

[2016-03-07 18:30] #304 closed

[2016-03-11 12:35] einarf commented on #295
Had a similar issue related to this when using master branch, but 2.9.0 resolved it.

[2016-03-15 16:55] madEng84 opened #307 "Can't upload Image with an upload Button"
My question is: why don't you use the same widget from django-ckeditor (currently on 5.0.3 version) instead of creating a new one?

I had this error (it's not an error but I can't upload image with an upload button in the Image widget on ckeditor sidebar) either forcing my custom field using django-ckeditor's CKEditorWidget rendering the form in the admin interface. But I think it's not a good ide

[2016-03-17 10:46] nilssolanki commented on #296
We have the same issue between links and normal text (without punctuation marks afterwards).

[2016-03-23 17:12] jesusjl opened #309 "$(...).autoSuggest is not a function ckeditor.js"
Hi

ckeditor does not show on djangocms-blog plugin from nephila. Im currently on a complex project and not able to debug the problem. The same settings in another simpler project with just django-cms 3.1.2 and djangocms-blog works nice...

$(...).autoSuggest is not a function ckeditor.js
Uncaught TypeError: Cannot read property 'icons' of null

Please help

[2016-03-31 10:41] pons1991 opened #310 "What is the license for dcms-text-ckeditor?"
Can u tell me the license?
pls
I want to know whether its falling on BSD or GPL?

[2016-04-12 12:31] marksweb commented on #137
So I'm getting 404s from ckeditor's static files which are trying to access the skin files & config.js from `/static/ckeditor/` but the app includes the static files in `/static/djangocms_text_ckeditor/ckeditor/`.

I'd struggle to believe this issue has only happened to me as there's nothing special about our static setup - we just deploy out to an S3 bucket.

At the moment we've just manually cop

[2016-04-13 06:10] FinalAngel commented on #137
What versions of django-cms and djangocms-text-ckeditor are you using? /cc @vxsx

[2016-04-13 08:40] marksweb commented on #137
@FinalAngel @vxsx

django-cms 3.0.16
djangocms-text-ckeditor 2.4.3

This project needs some work across the board to upgrade it's components, but it's been running for 2 years now & we've only just seen this issue.

[2016-04-13 09:16] vxsx commented on #137
it looks to me like @marksweb issue is a bit different from what OP had, time passed, work was done etc.

@marksweb in 2.4.3 (and in latest master i believe) the basepath for ckeditor static comes from https://github.com/divio/djangocms-text-ckeditor/blob/fdb3349073c9d113ddd520f90482c682c5baad9d/djangocms_text_ckeditor/settings.py#L31 which seems to be correct, could you check what the value of `T

[2016-04-13 15:33] marksweb commented on #137
Thanks @vxsx.

`TEXT_CKEDITOR_BASE_PATH` appears to be set as it should be;
`/static/djangocms_text_ckeditor/ckeditor/`

Now that I've looked for that `ckeditor.html` template though I can see someone's provided us an override which is totally different to the package's own file. the `extrahead` block has a function that basically does a load of matching on resources to return `/static/ckeditor` p

[2016-04-13 15:38] FinalAngel commented on #137
@marksweb let us know :)

[2016-04-13 16:35] marksweb commented on #137
I've stopped loading the template override & changed the names of the ckeditor dirs that we had in `/static/` and things are still working so it looks like it's properly using the `/static/djangocms_text_ckeditor/` path now.

Thanks for your time guys @FinalAngel @vxsx. Now it looks like some more template & JS overrides are preventing me from publishing in the 3.0.16 CMS release so I'll need to d

[2016-04-13 16:41] FinalAngel commented on #137
you are very welcome @marksweb

[2016-04-13 16:41] #137 closed

[2016-04-21 19:38] kerkeslager commented on #33
Is there any word on this? Like lukasz-virtualo, I'm seeing this in 2.9.1 and had to downgrade. 2.7.1 seems to be the highest version that doesn't have the issue.

[2016-04-21 19:41] kerkeslager commented on #310
https://github.com/divio/djangocms-text-ckeditor/blob/master/LICENSE.txt

[2016-04-22 07:13] vxsx commented on #33
@lukasz-virtualo @kerkeslager

https://github.com/divio/djangocms-text-ckeditor/blob/1a6734f31ec8c837906d19ce95ceb59004988add/README.rst

[2016-04-23 10:48] tarikki commented on #78
Any updates on this one? Ran into the same problem today. I _could_ give superuser permissions to the user (his personal webpage, wants to be able to update some sections without digging into any code) but he would probably appreciate a simpler layout with fewer options.

[2016-04-23 11:53] farooqaaa opened #315 "Editor is not WYSIWYG"
For some reason, my TextPlugin editors are no longer WYSIWYG. All I see a "textarea" field called "body" and it shows the HTML code of the selected placeholder. Is this because of some recent update?

![ckeditor](https://cloud.githubusercontent.com/assets/930117/14761238/d40a526a-0973-11e6-88fe-904fdf1ce13e.png)

[2016-04-25 16:15] FinalAngel commented on #315
@farooqaaa thanks for the report, do you have additional information on how your project is setup? What method did you use, which CMS Version is installed, a pip freeze can also help a lot.

[2016-04-25 16:24] farooqaaa commented on #315
My project uses the regular method for setting up the plugin. Here's a pip freeze:

[code]

[2016-04-26 14:22] FinalAngel commented on #315
@divio/django-cms-core any idea what might be going on?

[2016-04-26 14:35] mkoistinen commented on #315
@farooqaaa are you using the release of 3.2.3 from PyPI or latest from this repository?

[2016-04-26 14:40] cyberstar commented on #315
@farooqaaa hi! can you please also check if you have any JS errors on this page? I had similar issue but that issue was related to other package that produced a JS error.

[2016-04-30 15:32] farooqaaa commented on #315
@cyberstar Thank you. It was a javascript issue. The jquery-ui URL was dead.

[2016-04-30 15:32] #315 closed

[2016-05-04 09:56] macolo opened #317 "'cmsplugins' needs to work for djangocms_text_ckeditor.fields.HTMLField"
Currently djangocms-text-ckeditor's `HTMLField` doesn't have the ability to link to other CMS pages.

DjangoCMS has `cmsplugins`, a plugin for CKeditor for that.

However as explained in `djangocms-text-ckeditor`'s README (see `Usage as a model field`), this is not supported for HTML fields. This Model Field is heavily relied upon for the creation of custom content elements in DjangoCMS. Not being

[2016-05-04 10:00] yakky commented on #317
This functionality depends on the whole django CMS placeholder stack, which is not available unless you are using a placeholder (a ``PlaceholderField`` in the case of non CMS models)
You can easily add a ``PlaceholderField`` in you custom models as detailed in http://django-cms.readthedocs.io/en/latest/how_to/placeholders.html and then using plugins all the way down.
You can provide your users a d

[2016-05-13 06:21] yunmanger1 opened #318 "Fails to add Text plugin to page"
Getting this error when trying to add Text plugin to page. Using the latest stable djangocms-text-ckeditor==2.9.3 and django-cms from develop. Other plugins are added.

[code]

[2016-05-13 06:57] vxsx commented on #318
Latest `develop` on django-cms will work only with `feature/sane-add-plugin` on djangocms-text-ckeditor
https://github.com/divio/django-cms/blob/develop/test_requirements/django-1.8.txt#L3

[2016-05-18 23:40] td4u78 opened #319 "ckeditor altering source of text element fails to update published view"
Altering the source of a text element in the frontend fails to update the published source code, although changes are reflected in the edit view's source code.

Following the tutorial from https://www.youtube.com/watch?v=NbsRVfLCE1U, we were instructed to copy and paste some text from his live preview. The text copied contained a div tag which surrounded the entire text, which was also copied. Aft

[2016-05-20 05:23] sparkholiday commented on #319
I'm not 100% that this will work, but @stefanfoulis suggested that a security update could be the reason that my djangocms-text-ckeditor was acting weird -- it would create text perfectly upon hitting save in a freshly written text instance, but then would only export raw HTML code if I went back and edited it. If I redeployed the server, the text looked fine again, but having to redeploy the site

[2016-05-31 14:35] lory87 opened #321 "edit table is not possible"
If I add a table to the ckeditor plugin it breaks when I want to edit the table

This issue can be reproduced with cms 3.2.5

![screen shot 2016-05-31 at 16 22 31](https://cloud.githubusercontent.com/assets/2270884/15677786/0c07b248-274c-11e6-8082-c70d4b5a1d68.png)

[2016-06-05 18:48] faidoc opened #323 "Image alignment"
Hi

Is it possible to align an image whitin a text?

I can't do it. Just pasted a text and inserting an image with left alignment to be on the left of the text (in the editor looks good), but when publishing, I see the image on top of the text. I don't see any style printed within the img tag like float:left.

Thanks

[2016-06-06 06:12] FinalAngel commented on #323
@faidoc it should either add ``style="text-align:left;`` or something like ``class="left"`` is either of that available? If not screenshots or a screencast would help to understand the problem.

[2016-06-07 00:42] faidoc commented on #323
Hi
Yeah sure, here are some pics showing how it looks on the editor, with indeed the float:left, and how it look when publishing the page.

I also noticed in the documentation something about sanitized data... maybe the style attribute is being erased when viewing the front? I tried with the following settings but with the same result (also, I don't know if I can use the parameter 'image2_alignCla

[2016-06-07 06:51] vxsx commented on #323
Hi @faidoc

at the moment it is not possible to align images in the text plugin using ckeditor's "align" feature on the toolbar. Since images inserted inserted in the ckeditor are actually cms plugins, the cannot be affected from ckeditor itself (at least at the moment).

Depending on the image plugin you use, they should have different settings, e.g. for aldryn-bootstrap3 one in advanced settings

[2016-06-07 06:58] FinalAngel commented on #323
Thanks for clarifying @vxsx

[2016-06-07 06:58] #323 closed

[2016-06-07 07:11] #270 closed

[2016-06-07 07:12] FinalAngel commented on #146
order does not matter anymore

[2016-06-07 07:12] #146 closed

[2016-06-07 07:12] FinalAngel commented on #225
has been clarified

[2016-06-07 07:12] #225 closed

[2016-06-07 07:12] #228 closed

[2016-06-08 14:50] #318 closed

[2016-06-08 14:50] czpython commented on #318
Please make sure to use djangocms-text-ckeditor>=3.0.0 with django-cms >= 3.3.0

[2016-06-08 14:53] czpython commented on #294
Hello,
Currently it is not possible.
There's no planned effort to make this possible as it opens some security concerns.

[2016-06-08 14:53] #294 closed

[2016-06-08 14:54] czpython commented on #297
This has been fixed on CMS 3.3.

[2016-06-08 14:54] #297 closed

[2016-06-08 14:58] frnhr commented on #294
@rgcarrasqueira
Maybe give this a try: https://github.com/frnhr/djangocms_renderit

Disclaimers:
 - I made it
 - last tested on DjangoCMS 3.1
 - only use if security is not a concern (i.e. all your users are trustworthy)
 - only use if security is not a concern, I make no guarantees with regards to safety

[2016-06-08 14:58] czpython commented on #310
BSD

[2016-06-08 14:58] #310 closed

[2016-06-08 15:00] #317 closed

[2016-06-09 07:03] FinalAngel commented on #321
@lory87 I don't have this issue: http://d.pr/v/IX6X I can add content and change properties without any problems. Does the issue still persist on CMS 3.3?

[2016-06-09 07:39] FinalAngel commented on #266
@barseghyanartur or @yakky I'd welcome a PR on migrating to bleach eventually. For now I'll close this.

[2016-06-09 07:39] #266 closed

[2016-06-09 07:41] FinalAngel commented on #237
please re-open if its still relevant to you. A screenshot or screencast would be welcome to understand the problem.

[2016-06-09 07:41] #237 closed

[2016-06-09 07:46] FinalAngel commented on #319
@td4u78 and @sparkholiday we addressed these issues in django CMS 3.3 and the latest CKEditor Release 3.0

@sparkholiday your specific issue was also related to external package fixes from treebeard and django-parler.

[2016-06-09 07:46] #319 closed

[2016-06-09 07:48] FinalAngel commented on #309
hello @jesusjl and sorry for the late response. Auto suggest is not part of the core ckeditor plugin and added via djangocms-blog (taggit_autosuggest). Please open an issue on https://github.com/nephila/djangocms-blog

[2016-06-09 07:48] #309 closed

[2016-06-09 07:49] FinalAngel commented on #307
@madEng84 the reason here is connected with django-filer. We store the images there and should rather connect CKEditor with Filer directly. I agree that we can make this better and improve the UI for it. I'll connect this ticket with https://github.com/divio/djangocms-text-ckeditor/issues/285

[2016-06-09 07:49] #307 closed

[2016-06-09 07:51] FinalAngel commented on #298
@treavis is this still a problem for you since the last release? If yes I'd welcome some screenshots and additional instructions on how to reproduce.

[2016-06-09 10:37] treavis commented on #298
I have to disappoint you, but the problem still exists as of version 3.3. After editor window had been maximized the scrolling breaks and part of the content becomes hidden.

Screenshot taken from the demo of django-cms.
![screen1](https://cloud.githubusercontent.com/assets/7849374/15926917/30cf7500-2e47-11e6-80b7-2f7bf1b56422.png)
![screen2](https://cloud.githubusercontent.com/assets/7849374/1592

[2016-06-09 11:05] FinalAngel commented on #298
@treavis no worries, thanks for clarifying. @vxsx is that something you can fix?

[2016-06-09 19:01] sparkholiday commented on #319
Can confirm: Working fine now without leaving render_model tags unescaped! Thank you!

[2016-06-10 06:31] FinalAngel commented on #319
awesome, thanks for the feedback @sparkholiday

[2016-06-13 14:22] tdsymonds opened #324 "Upgrade to version 3 causes problems with Django CMS nested plugins"
Since upgrading djangocms-text-ckeditor to version 3 I've encountered problems with nested plugins in Django CMS. The error in the console is:

[code]

Downgrading to version 2.9 resolved.

[2016-06-13 15:16] FinalAngel commented on #324
What django CMS version are you using? Please mind:

[code]

[2016-06-13 15:41] tdsymonds commented on #324
Ah, my apologies! I'm using django CMS 3.2.5 so that makes perfect sense now. Thanks

[2016-06-13 16:06] FinalAngel commented on #324
no worries and thanks for the feedback @tdsymonds

[2016-06-15 12:32] #324 closed

[2016-06-20 08:22] FinalAngel opened #326 "Permissions for the "Source Button""
It would be great to enable/disable the source button through a permission check. This would allow for certain editors to work inside the editor only or advanced users to modify the source.

[2016-07-03 19:32] ejah opened #329 "Saving plugin after front-end edit gives browser redirect error"
Django 1.9.7, django-cms 3.3.0 and djangocms-text-ckeditor 3.0.0 in a small and simple site on hosted server gives always browser redirect error after front edit edit and save of text plugin. The problem is isolated to the text plugin. The 'messages' cookie is left behind. Removing that cookie removes the browser error and provide access again. Only to repeat the same behavior when edited again.
L

[2016-07-03 21:09] czpython commented on #329
@ejah
Hi there,
Can you post a screenshot/traceback?

[2016-07-03 21:11] ejah commented on #329
If you write me a private message I will give you admin access to that test site so you can see yourself.
The screenshot would be the boring browser (in Dutch) redirection error page (no error number)

[2016-07-05 18:15] mkoistinen opened #330 "Manipulating plugin proxies in the text field can yield illegitimate plugins"
This is a known issue, but I've created this issue so that we can refer to it from other repos.

[2016-07-05 18:17] mkoistinen opened #331 "Double-clicking to edit a newly created plugin may result in edit form for wrong plugin"
(Copied from @darbula's Issue https://github.com/divio/cmsplugin-filer/issues/178):

This bug is very easy to reproduce:

In text editor write link1, select and add new CMSPlugin > Filer Link let it link to www.foo.com

Add new paragraph, write link2, select and add new CMSPlugin > Filer Link and let it link to www.bar.com

Double click link1 and editor is populated with Name: link2 and Url www.fo

[2016-07-14 10:02] jschon1991 opened #334 "Including newly installed plugin for ckeditor"
I tried to install btgrid to ckeditor (with success), it shows up and worked.
Then I tried install same plugin to djangocms_text_ckeditor...
I added plugin to static/djangocms_text_ckeditor/ckeditor/plugins/
I have configured layout in settings.py (added btgrid to layout), and in config.js I have config.extraPlugins = 'btgrid'; and all its dependencies. (btgrid button didn't show up in toolbar)
Wh

[2016-07-14 10:57] vxsx commented on #334
Currently overriding extraPlugins is a little bit problematic because it is a string.
You can use https://github.com/divio/djangocms-text-ckeditor#ckeditor_settings this method of overriding view settings, and providing your own extraPlugins, but you will have to manually add these https://github.com/divio/djangocms-text-ckeditor/blob/master/djangocms_text_ckeditor/static/djangocms_text_ckeditor/j

[2016-07-16 19:31] saeed-222 opened #336 "sanitizer import error due to changes in html5lib"
I get the following import error when using djangocms-text-ckeditor with html5lib 0.999999999 installed. Please not that I did not specified any specific version for html5lib and it has been installed by default.
[code]

See also release notes for html5lib Released on July 14, 2016: [https://pypi.python.org/pypi/html5lib](https://pypi.python.org/pypi/html5lib)

[2016-07-16 20:27] czpython commented on #336
@saeed-222 Thanks. We've released a new version of djangocms-text-ckeditor that pins the html5lib version to < 0.999999999.

[2016-07-16 20:27] #336 closed

[2016-07-20 11:01] jedie commented on #336
Ran into the same problem :(

New release not on PyPi, yet?!?

[2016-07-22 11:44] jvamvas opened #337 "ImportError: cannot import name sanitizer"
When deploying via Aldryn:
[code]

Cf. https://github.com/html5lib/html5lib-python/issues/277

[2016-07-22 11:49] czpython commented on #337
@jvamvas
Hello,
We released a new version of djangocms-text-ckeditor that fixed this.
If you're on Aldryn and still get the issue, please contact us through http://support.divio.com/hc/en-us#

[2016-07-22 11:49] #337 closed

[2016-07-22 23:35] tehfink opened #338 "install issue: ImportError: cannot import name 'sanitizer'"
Using the latest, when installing with the following:
[code]
the install quits with the following error:
[code]

According to here:
https://github.com/html5lib/html5lib-python/tree/master/html5lib/filters
sanitizer.py is located in the filters module, so perhaps line 8 from here:
https://github.com/divio/djangocms-text-ckeditor/blob/master/djangocms_text_ckeditor/html.py#L8
and line 2 from here:
h

[2016-07-22 23:56] czpython commented on #338
@tehfink
We've pinned the html5lib version to be less than `0.99999999`.
Please make sure your environment does not have this version installed.

[2016-07-22 23:56] #338 closed

[2016-07-28 14:16] vstoykov opened #339 "Using `replace` instead of `split` and `join`."
When I looked at how djangocms-text-ckeditor passes settings to the template was confused about this line https://github.com/divio/djangocms-text-ckeditor/blob/3.0.1/djangocms_text_ckeditor/widgets.py#L73

[code]

It needed to put a debugger there to inspect and see what is going on in order to understand what this line was doing. At the end I realized that the purpose of this is to replace `{{ la

[2016-07-29 20:39] saeed-222 opened #340 "Add support for html5lib>=0.9999999 since django-cms requires it"
Django-cms release 3.3.0 or higher requires `html5lib>=0.9999999`. And since `djangocms-text-ckeditor` does not support html5lib new changes right now, Using `djangocms-text-ckeditor` as one of installed app, It is not possible to upgrade django-cms to version 3.3.0 or higher.

[2016-07-29 20:40] saeed-222 commented on #340
See also https://github.com/divio/djangocms-text-ckeditor/issues/336

[2016-07-29 20:42] saeed-222 commented on #336
I don't think that a temporarily work-a-round would solve this issue, Adding support for new changes will be a better idea.

[2016-07-29 21:26] czpython commented on #340
html5lib is no longer a dependency of django-cms and djangocms-text-ckeditor has pinned the html5lib version to be less than the latest 9999

[2016-07-29 21:26] #340 closed

[2016-07-29 21:29] czpython commented on #336
Pinning html5lib version to < 0.999999999 is perfectly fine as long as other apps don't require a higher version. I agree that adding support for html5lib >= 0.999999999 would be better but there's only so much we can do each time a new dependency is released.

In the meantime, we've removed html5lib as a dependency from django-cms 3.3.x and will backport to 3.2.x

[2016-07-29 22:20] czpython commented on #336
Just for the sake of clarity, what I meant with "there's only so much we can do" is that we're focusing all our efforts on finishing the long term release of djangoCMS. That's the only reason why we've pinned the html5lib version.

We would really appreciate if someone has the time to contribute a backwards compatible patch that adds compatibility with the latest html5lib.

[2016-08-01 07:38] yakky opened #342 "Version 2.9.4 is broken in django 1.8+"
Apparently djangocms-text-ckeditor 2.9.4 has been released from 2.7.x branch and the 2.9.x branch has been deleted

[2016-08-01 14:31] czpython commented on #342
@yakky Was there a 2.9.x branch? I don't recall there being one, also can't find it locally.

[2016-08-01 15:18] yakky commented on #342
Uhm I thought that before releasing 3.0 a 2.9.x would have been created. But anyway the point is that 2.9.4 is really 2.7.x something and we must release a 2.9.5 as 2.9.3 + htmllib pinning. I can do that if that's ok for you

[2016-08-01 15:30] czpython commented on #342
@yakky Got it. Sounds good, thanks.

[2016-08-01 17:48] yakky commented on #342
@czpython please check 1594dc71e94d0b58eaf7c28f043310a0273bd8a4 I pushed on top of 2.x branch because fixing the 2.x would result in impossible to read pull request
If looks good to you (tests are all green) I'll release 2.9.5 later on pypi

[2016-08-01 21:00] czpython commented on #342
LGTM. Thanks!

On Aug 1, 2016 1:48 PM, "Iacopo Spalletti" <notifications@github.com> wrote:

[2016-08-01 21:44] yakky commented on #342
Fixed by 2.9.5 release

[2016-08-01 21:44] #342 closed

[2016-08-04 20:37] davidmaxs opened #343 "Upgrade to 3.0.1 problem"
Hi, after Upgrade and migrate django cms from 3.0 to 3.2 i have big problem with cmsplugion_filer__image in djangocms-text-ckeditor .  In all page with image in djangocms-text-ckeditor i get Unknown column 'cmsplugin_filer_image_filerimage.thumbnail_option_id' in 'field list.

django-cms==3.3.1
djangocms-text-ckeditor==3.0.1
cmsplugin-filer==1.1.2
django-filer==1.2.4

[2016-08-06 03:11] JoeJasinski opened #344 "html5lib version 0.999999999 (latest) does not work with djangocms-text-ckeditor"
If I install the latest version of html5lib, I get the following import error when I try to migrate.  I'm using djangocms-text-ckeditor==3.0.1 and djangocms==3.3.1.

When I downgrade to html5lib==0.9999999, it works.

[code]

[2016-08-06 03:50] JoeJasinski commented on #344
I think this might be related to the following:

https://github.com/html5lib/html5lib-python/issues/72
https://github.com/html5lib/html5lib-python/issues/277

[2016-08-06 14:19] czpython commented on #344
Closing as a duplicate of https://github.com/divio/djangocms-text-ckeditor/issues/336
djangocms-text-ckeditor currently pins html5lib to be less than 0.999999999

[2016-08-06 14:19] #344 closed

[2016-08-08 01:33] Chronial opened #345 "Not compatible with the most recent version of html5lib"
Fails with the most recent version of html5lib (`0.999999999`) with this exception:

[code]

This is probably caused by this change (from htlm5lib changelog):

[2016-08-08 11:17] czpython commented on #345
Thanks for reporting.
Closing as a duplicate of https://github.com/divio/djangocms-text-ckeditor/issues/336
djangocms-text-ckeditor currently pins html5lib to be less than 0.999999999

[2016-08-08 11:17] #345 closed

[2016-08-08 12:00] Chronial commented on #345
Ah, thx – I actually checked that, but was fooled by the [requirements.txt](https://github.com/divio/djangocms-text-ckeditor/blob/master/requirements.txt#L2) :).

I will see if I can produce a PR for the actual issue – our project needs a more recent version of html5lib.

[2016-08-08 12:45] czpython commented on #345
@Chronial That would be amazing :)

[2016-08-22 09:55] darshit7 opened #348 "'NoneType' object has no attribute 'slot'"
Hi I got error while opening ckeditor to edit plugin.

Environment:
Request Method: GET
Request URL: http://10.1.2.90:8000/admin/cms/page/add-plugin/?placeholder_id=30&plugin_type=TextPlugin&plugin_language=en

Django Version: 1.9.1
Python Version: 3.4.3
Installed Applications:
['django_admin_bootstrapped',
 'djangocms_admin_style',
 'django.contrib.auth',
 'django.contrib.contenttypes',
 'django.

[2016-08-22 10:01] stefanw opened #349 "Document that cmswidget needs to be in extraPlugins setting"
For my installation, I had customised the `extraPlugins` setting and did not have "cmswidget" in there (and it used to worked).

With the latest version `3.1.0`, when I opened a Text plugin, [this line in plugins.js](https://github.com/divio/djangocms-text-ckeditor/blob/master/djangocms_text_ckeditor/static/djangocms_text_ckeditor/ckeditor_plugins/cmsplugins/plugin.js#L446) throws an error:

[code

[2016-08-22 11:40] czpython commented on #348
Hello @darshit7,
Please post the djangoCMS and djangocms-text-ckeditor versions.

[2016-08-22 21:28] jesusjl commented on #309
Thank you FinalAngel

[2016-08-25 06:20] darshit7 commented on #348
Hi @czpython
I have django-cms 3.3.2 and djangocms-text-ckeditor 2.9.1

[2016-08-25 11:21] czpython commented on #348
@darshit7 Please checkout the [README](https://github.com/divio/djangocms-text-ckeditor#djangocms-text-ckeditor) for information on djangoCMS compatibility.

In this case, you should upgrade to the latest djangocms-text-ckeditor (3.1.0)

[2016-08-25 11:21] #348 closed

[2016-08-27 00:53] jsma opened #353 "3.1.0 inline preview not working for some django-filer images"
I have a page which has three instances of cmsplugin-filer image plugins on it. After upgrading to djangocms-text-ckeditor 3.1.0, only the first two can be double-clicked to edit (they both show the yellow border on hover and a blue border when single-clicked).

For the third image plugin instance, there is no border shown on hover or on single click. If I double-click the image, the editor become

[2016-08-27 00:57] czpython commented on #353
Hello @jsma,
Can you post the full source of the text plugin?
I think that the <cms-plugin> tag shown there belongs to the second plugin and somehow that third one didn't get wrapped in a <cms-plugin> tag.

[2016-08-27 01:11] jsma commented on #353
Actually the first two are wrapped (I've anonymized file names & alt text etc but left the markup as-is):

	<h3>&nbsp;</h3>
	<cms-plugin alt="Image - demo9.png " id="11494" render-plugin="true" title="Image - demo9.png">
	<figure id="image_plugin_286"><a href="https://www.example.com/" target="_blank"><img alt="demo9.png" class="img-responsive" src="/media/filer_public_thumbnails/filer_public/44/1

[2016-08-27 01:38] czpython commented on #353
I see, I've not seen the <figure> tag on ckeditor before, is that a custom plugin?
The tag <figure id="image_plugin_700"> points to a plugin with id 700 while the <cms-plugin alt="Image - test.png " id="11854" tag points to 11854 which leads me to believe they're not the same plugin and somehow this <figure id="image_plugin_700"> was not migrated.

Was the third plugin editable before upgrading? D

[2016-08-27 18:24] jsma commented on #353
Sorry for the confusion/distraction, but you can ignore the `id="image_plugin_700"`, that's just the id of the underlying image instance which was added for reasons we won't go into here and hopefully aren't relevant.

The `<figure>` tag is just coming from an overridden template for the standard cmsplugin-filer image plugin. I've created a [gist](https://gist.github.com/jsma/379a82e125f1eb23a5cb0

[2016-08-27 20:52] yakky opened #354 "JS issue when using TextEditorWidget/HTMLField outside CMS"
When using TextEditorWidget or HTMLField outside the CMS (i.e.: in normal models as rich text editor) the following JS error is returned:
``plugin.js Uncaught TypeError: Cannot set property 'inline' of undefined`` @ https://github.com/divio/djangocms-text-ckeditor/blob/master/djangocms_text_ckeditor/static/djangocms_text_ckeditor/ckeditor_plugins/cmsplugins/plugin.js#L455

Apparently cmsplugins pl

[2016-08-27 22:28] czpython commented on #354
Thanks @yakky.
We'll try to tackle this by monday morning.

[2016-08-28 14:23] czpython commented on #353
Thanks for the information @jsma

Let's break this into parts:

1. When upgrading to ckeditor with real preview, a migration runs to convert all stored `<img plugin_id_x>` tags to their `<cms-plugin>` equivalent. Can you verify directly in the database that all from this plugin has been correctly converted to use the new tags? (Maybe post the text to create a trail with any sensitive data hidden o

[2016-08-29 17:33] yakky commented on #354
To clarify have a look at the following custom configurations: https://gist.github.com/yakky/f35119aeaf37e07832b0c91633553d6b

using the top one, the admin will work correctly, but in the text plugin there is no cmsplugin dropdown
using the bottom one, text plugin is ok but the opening the normal model return a js error in console. If the ckeditor configuration loads more plugins afterward, the ck

[2016-08-29 21:16] #354 closed

[2016-08-29 23:28] jsma commented on #353
The problem seems to be that in 3.0.1, the plugin started its life as `<img alt="Image" id="plugin_obj_*"`, which CKEditor happily placed within a `<p>`. However, in 3.1.0 this img tag gets replaced by the real markup `<figure>`, which can't be nested in a `<p>` tag. Haven't yet traced where the modification is coming from, but when previewing, the source code gets rewritten, resulting in the brok

[2016-08-30 23:18] czpython commented on #349
Fixed by https://github.com/divio/djangocms-text-ckeditor/pull/355

[2016-08-31 08:36] lunanoko opened #357 "'NoneType' object has no attribute 'slot'"
## Versions

[code]

## Reproduction

- Setup a new project.
- In structure mode, add a TextPlugin to a placeholder.
- `'NoneType' object has no attribute 'slot'` is triggered in `djangocms_text_ckeditor/cms_plugins.py`.

## Notes

This seems like a bug that would be too easy to catch, so it may very well be I'm doing something wrong here...

A new project is setup from the cookiecutter template w

[2016-08-31 11:28] czpython commented on #357
@lunanoko Please checkout the [README](https://github.com/divio/djangocms-text-ckeditor#djangocms-text-ckeditor) for information on djangoCMS compatibility.

In this case (djangoCMS 3.3.2), you should upgrade to the latest djangocms-text-ckeditor (3.1.0)

[2016-08-31 11:28] #357 closed

[2016-08-31 11:32] lunanoko commented on #357
Gawd... It's things like these that make me want to reverse time :( I was so sure I was using the latest version that I didn't even notice I wasn't...

Sorry for wasting your time!

[2016-08-31 21:29] jsma commented on #330
Is this resolved by the new inline preview system? This was also discussed in https://github.com/divio/djangocms-link/issues/59

[2016-09-01 15:12] #295 closed

[2016-09-02 05:11] FinalAngel commented on #330
@jsma don't really understand what this issue is referring too, the issue related to djangocms-link is the editing behaviour. What CKEditor now does is, render the plugin as an internal widget and then open the admin changeform. Maybe you could help me describe the issue?

[2016-09-02 05:41] jsma commented on #330
@FinalAngel, both https://github.com/divio/cmsplugin-filer/issues/179 (which @mkoistinen closed in favor of this issue) and https://github.com/divio/djangocms-link/issues/59 detail issues when double-clicking links in CKEditor which resulted in corrupted content and/or plugins. These both appear to be resolved now that the previewing system is in place. @mkoistinen, did you have other related issu

[2016-09-02 10:46] FinalAngel commented on #330
@jsma thanks for clarifying, let's wait for @mkoistinen response.

[2016-09-05 06:53] vxsx commented on #353
This is indeed one of the problems we were trying to solve with the new inline preview system - get rid of invalid markup. The unwrapping of the `<p><cms-plugin><figure>` is happening in the browser itself, and when you save it breaks in a way you described.

What we could do is to check if there is a block level element inside of the plugin markup and based on that - unwrap the `<p>` tags ourselv

[2016-09-05 11:11] vxsx commented on #353
@jsma could you try reproducing with https://github.com/divio/djangocms-text-ckeditor/pull/358 ?

[2016-09-06 09:05] vxsx opened #360 "stylesSet and contentCss"
At the moment the only way to specify correct styles and config inside of ckeditor is to hardcode the paths to  them like this:

[code]

If you're using different place to store them, e.g. somewhere on s3 bucket or if you use hashed file names you will run into problems.

What we should do instead is to handle the given paths with `{% static %}` automatically

[2016-09-06 15:57] vxsx commented on #349
Will be properly fixed by https://github.com/divio/djangocms-text-ckeditor/pull/361

[2016-09-07 14:55] czpython opened #362 "Image resizing is does not work"
Images added through the editor have resize handles, I believe these are not implemented correctly and as such should either be removed or fixed.

Ref: https://github.com/divio/django-cms/issues/5668

[2016-09-08 09:22] #349 closed

[2016-09-10 22:36] jsma commented on #353
@vxsx there are some major issues with this. A site was inadvertently upgraded to 3.2.0 and is now essentially bricked. No existing plugins are editable.

If we erase all plugins from a page and attempt to add brand new plugins, it actually inserts the old `<img alt="Image" id="plugin_obj_11494"` syntax but when we click the plugins in the editor, we get 404 errors when it tries to load the plugin

[2016-09-10 23:18] czpython commented on #353
@jsma
Hey, so you're currently on 3.2.0 ckeditor and adding a new plugin results in the old `<img alt="Image" id="plugin_obj_11494">` syntax?

[2016-09-10 23:18] jsma commented on #353
There appears to be a bug in plugins.js when using Safari:

<img width="907" alt="screen shot 2016-09-10 at 4 09 29 pm" src="https://cloud.githubusercontent.com/assets/24574/18414041/057865f6-7771-11e6-9ee7-623c29af5fe5.png">

We haven't debugged the root cause yet, but posting here in case someone else is able to figure it out first.

It appears we can actually edit the site using Chrome, so that

[2016-09-10 23:33] jsma commented on #353
@czpython yes, in production environment using Safari, if we attempt to add a new cmsplugin-filer-image instance, it renders as the old syntax both for editors and end users. This does not happen with Chrome using the same production environment.

[2016-09-10 23:39] yakky opened #363 "get_plugins_from_text hardcoded plugin_type prevents extending TextPlugin"
The hardcoded string at https://github.com/divio/djangocms-text-ckeditor/blob/master/djangocms_text_ckeditor/utils.py#L126 prevents extending ``TextPlugin`` with custom one.
It needs to be retrieved dynamically based on parent plugin

[2016-09-11 00:23] czpython commented on #363
Thanks for reporting @yakky. Totally my fault.
The plugin_type check filter was more a precaution on my side, I'll remove it.
Should be fine as it was previous behavior to not filter by this.

[2016-09-11 00:23] czpython commented on #363
Github should put the **Close and comment** far away from the **Comment** button 😞

[2016-09-11 06:05] vxsx commented on #353
@jsma it looks like you're getting cached old ckeditor javascript for some reason. if you see the image tag with plugin_obj_xxx id - it's definitely created by the older version of it. New version creates `<cms-plugin>` markup instead. you said you've cleaned the cache, but i've seen it on one of our production sites and only going to the chrome settings and removing cached files for last month ac

[2016-09-11 09:13] #363 closed

[2016-09-11 09:13] yakky opened #366 "Adapt djangocms-picture tests to work with djangocms-picture 2.0"

[2016-09-12 00:48] jsma commented on #353
Thanks @vxsx!

Manually clearing the browser cache did seem to resolve the issue. I had seen `?t=G4CD` appended to urls so mistakenly assumed cache-busting was already in place. Should have taken a deep breath and looked more closely at what the browser was doing.

However, it may be tricky to get everyone with CMS access to clear the browser cache in every browser they have (at work, home, phone,

[2016-09-12 07:21] vxsx commented on #353
Not yet @jsma, but i think we definitely should do a point release asap, wdyt @czpython ?

Regarding `<p>` tags, could you post the markup of the plugin that is used in `{{ plugin goes here }}`?

In https://github.com/divio/djangocms-text-ckeditor/pull/358 I added the logic for unwrapping the the plugins that are both block-level and wrapped with a `p`. That should definitely not affect the link p

[2016-09-12 07:22] vxsx commented on #353
Actually nevermind, I see the weird behaviour with adding lots of `<p>&nbsp;</p>` :(

[2016-09-12 08:23] vxsx commented on #353
https://github.com/divio/djangocms-text-ckeditor/pull/367 this one should fix the problem with the extra `<p>` tags

[2016-09-15 18:00] jsma commented on #353
This appears to have fixed all the issues I reported. Thanks for your help and work on this!

[2016-09-15 18:00] #353 closed

[2016-09-15 18:43] mliudev opened #373 "Signature changes break djangocms-cascade's carousel plugin"
Signature change to `plugin_tags_to_user_html(...)` breaks carousel and probably other plugins that call this method. Link to issue: https://github.com/jrief/djangocms-cascade/issues/182.

Since this is a backwards incompatible change, semantic versioning suggests bumping the major version. I think this should at least be a minor version change.

[2016-09-15 18:48] czpython commented on #373
Thanks for reporting @mliudev.
The initial signature change was introduced in 3.2.0 which was a minor version change from 3.1.0, also this function was never documented as a public API, thus we don't guarantee a deprecation period.

[2016-09-15 18:48] #373 closed

[2016-09-15 18:54] mliudev commented on #373
Fair enough, although 3.2.0 still works with the carousel. The 3.2.0 method signature still accepts 3 arguments: https://github.com/divio/djangocms-text-ckeditor/blob/3.2.0/djangocms_text_ckeditor/utils.py#L84.

[2016-09-27 13:29] #366 closed

[2016-09-27 22:12] Chematronix opened #380 "Modal dialog's shade covers everything, makes page unresponsive"
Howdy,

when I open a modal dialog, say, by double-clicking an image in the editor to look at its properties, the shade of the modal dialog covers everything, even the dialog itself, and prevents any mouse or keyboard interaction with the page.  The offending shade has the classes cke_dialog_background_cover and cms-ckeditor-dialog-background-cover.  [Screenshot here](https://lh3.googleusercontent

[2016-09-28 05:35] vxsx commented on #380
Problem with the cover should be fixed by https://github.com/divio/djangocms-text-ckeditor/pull/374

[2016-09-29 09:36] sailorsamoor opened #381 "Django 1.10 compatibility"
The plugin is forcing to install Django 1.9.*

[2016-09-29 11:27] czpython commented on #381
Hi there,
Currently djangoCMS does not "officially" support Django 1.10 because one of our dependencies (django-treebeard) is not released with 1.10 support.

As a result, most apps in the djangoCMS ecosystem don't support 1.10 yet.
I'll keep the ticket open though, as it's something in our todo.

[2016-09-29 12:37] sailorsamoor commented on #381
I'm sorry, I read the requirements - there are Django 1.9.

[2016-09-29 12:37] #381 closed

[2016-09-30 13:48] tdsymonds opened #382 "HTMLField does not load correctly when model displayed as inline in Django Admin"
I'm having problems trying to get the HTMLField editor to work when the field is displayed on an inline. The two below screenshots demonstrates viewing the admin of the model directly, where it works, and then as an inline where it doesn't:

![standard](https://cloud.githubusercontent.com/assets/7289781/18993662/3b2024c2-871c-11e6-851c-4b2dc5d40ecd.JPG)
![inline](https://cloud.githubusercontent.co

[2016-09-30 13:50] czpython commented on #382
Hi there,
Please use the latest djangocms-text-ckeditor (3.2.1)

[2016-09-30 13:54] tdsymonds commented on #382
Hi @czpython thanks for gettting back to me so quickly, I've tried that and still no luck unfortunately

[2016-09-30 14:01] czpython commented on #382
@tdsymonds no problem.
Can you try installing the current rc? It's fully backwards compatible.

`pip install git+git://github.com/divio/djangocms-text-ckeditor#egg=djangocms-text-ckeditor`

Also make sure to restart server in case of pyc files and reset browser cache.

[2016-09-30 14:11] tdsymonds commented on #382
Still no luck. Tried collecting static, clearing browser cache, restarting server etc.

To clarify, I'm now on:

[code]

[2016-09-30 15:02] czpython commented on #382
Hey @tdsymonds, we can reproduce the issue locally.
We'll update you once a fix is out.
Thanks!

[2016-09-30 15:22] Chronial commented on #336
Is it essential that it is backwards compatible? This adds a lot of complexity and the old implementation seems dangerous anyways, since it modifies global settings of html5lib: https://github.com/divio/djangocms-text-ckeditor/blob/6e0b6c2fb48984ee579cc3ca672b5064af1bf10d/djangocms_text_ckeditor/html.py#L23

[2016-10-01 16:51] czpython commented on #382
Small update, we were able to reproduce the issue on older versions of this app, as such we'll fix it after the coming release since we're on code freeze until Tuesday next week and this is not a regression.

[2016-10-02 09:07] mistalaba opened #384 "Style for adding a new plugin not right"
Sorry for the vague subject. What I'm experiencing is better described with an image:
![add plugin](https://cloud.githubusercontent.com/assets/738293/19019663/4af3e9b2-88b9-11e6-8786-ef3c4870d248.jpg)

Basically, the iframe (or the parent div) doesn't cover the whole modal as it should (I guess). I've been disabling my own stylesheets just to make sure it's not a conflict there, and it doesn't cha

[2016-10-02 13:30] vxsx commented on #384
Hi @mistalaba, which version of Firefox do you see the problem in? also - are there any errors present in the console?

So far I cannot reproduce on FF48 on mac / windows 10

[2016-10-04 18:40] czpython commented on #380
@vxsx ok to close?

[2016-10-05 06:21] vxsx commented on #380
yup

[2016-10-05 06:21] #380 closed

[2016-10-05 13:12] vxsx commented on #382
Should be fixed with 3.3.0

[2016-10-05 13:12] #382 closed

[2016-10-05 13:13] vxsx commented on #331
This is no longer an issue with latest versions

[2016-10-05 13:13] #331 closed

[2016-10-05 13:15] vxsx commented on #334
Should be fixed since 3.3

You can now just add your plugins via `config.extraPlugins = 'btgrid';`

[2016-10-05 13:15] #334 closed

[2016-10-05 13:16] vxsx commented on #330
Should be resolved, feel free to reopen if not.

[2016-10-05 13:16] #330 closed

[2016-10-05 13:24] vxsx commented on #321
Should be fixed with 3.3

[2016-10-05 13:24] #321 closed

[2016-10-05 13:27] vxsx commented on #296
This is the issue with the link plugin you're using. If the template for the link plugin has whitespace at the end of the file (or newline at the end of file) - it would render as a space, not really an issue with the text plugin. I believe at this point filer link, djangocms-link and aldryn-bootstrap3 link plugins are fixed

[2016-10-05 13:27] #296 closed

[2016-10-05 14:32] vxsx commented on #362
The editor by default doesn't add any resize handles, can't reproduce on any availale image plugin

[2016-10-05 14:32] #362 closed

[2016-10-05 14:59] #298 closed

[2016-10-06 17:07] mistalaba commented on #384
The problem existed in FF 49, but after the upgrade to 49.0.1 it has disappeared. Might have been a caching thing, although I did hard refresh. Thanks for looking in to it!

[2016-10-06 17:07] #384 closed

[2016-10-08 10:14] vivazzi opened #387 "404 Error for cmsplugins.png"
This bug is shown when get context menu by mouse click on added plugin
![404_error](https://cloud.githubusercontent.com/assets/11954799/19212399/f2198b5c-8d82-11e6-9f14-34afcbf9966d.png)

[2016-10-08 10:24] vivazzi opened #388 "Uncaught TypeError: Cannot read property 'trim' of undefined"
I get this bug when I add my plugin to djangocms-text-ckeditor. This bug has shown when popup window of added plugin has shown and when has closed.
I tested on my project and aldryn demo online project - the same bugs.

[2016-10-08 11:02] vivazzi opened #389 "css files added to my plugin template don't add to render_plugin_preview.html"
I try to use preview of my plugins in djangocms-text-ckeditor as like this:
![button](https://cloud.githubusercontent.com/assets/11954799/19212672/ba31f494-8d88-11e6-9463-dde19a05b0ee.png)
I fiound it at https://www.youtube.com/watch?v=zQIFVzy3DsM

But my styles which I added to template through sekizai templatetags:
[code]
don't work. File `{{ STATIC_URL }}my_link/css/my_link.css` doesn't include

[2016-10-08 11:43] vxsx commented on #389
There are certain limitations to the rendering of plugin previews inside of ckeditor - so sekizai won't work.

What would work however, is specifying that stylesheet as
[code]

[2016-10-08 11:43] #389 closed

[2016-10-09 05:02] vivazzi commented on #389
Thanks!

[2016-10-09 06:08] vivazzi opened #391 "ALLOW_TOKEN_PARSERS has no effect"
In docs on page https://github.com/divio/djangocms-text-ckeditor it is said that I can add my ALLOW_TOKEN_PARSERS:

[code]

But in djangocms-text-ckeditor settings.py ALLOW_TOKEN_PARSERS https://github.com/divio/djangocms-text-ckeditor/blob/master/djangocms_text_ckeditor/settings.py#L38 is not overridable:

[code]

[2016-10-20 18:48] elidickinson commented on #380
@vxsx Would you mind elaborating on how #374 works? I'm running into this same problem on my django/ckeditor integration. Does cmsdialog fix the modal background having the wrong z-index or was it something in that minified ckeditor.js file?

[2016-10-20 19:42] vxsx commented on #380
@elidickinson sadly this is very custom to this particular installation of ckeditor. In order to make some things work on touch devices (moving dialog / resizing the area etc) we had to rewrite some of the logic of ckeditor's own dialog and resize plugins, and we didn't really do it correctly (it seems).

What I did in the PR is to always force remove the cover before opening the dialog and after

[2016-10-20 19:43] vxsx commented on #380
The minified file is just a bundle of ckeditor itself and our custom plugins / initialization.
It probably doesn't help much, but that's all there is :)

[2016-10-25 21:04] FabriceSalvaire opened #393 "Maximize issue on ckeditor"
When we maximize the plugin modal, we have to click twice on the ckeditor maximize icon else the ckeditor window is truncated at the bottom.

[2016-10-25 21:12] FabriceSalvaire opened #394 "Avoid latin characters conversion on CkEditor"
Just a proposition to set by default **entities_latin** to false on CkEditor settings (and maybe also **entities**).

If we assume most users have an utf-8 enbled browser, it will make the source editor more readable for languages using extensively diacritics. Actually it is difficult to tweak the html code with such languages.

[2016-11-07 16:37] mikemcgowan opened #398 "CMS_PLACEHOLDER_CONF 'limits' appears to have gotten broken between 3.3.3 and 3.4.1"
Please [see here](https://github.com/divio/django-cms/issues/5754) for a description of the problem which I originally incorrectly raised in Django-CMS itself, but infact appears to be a problem specific to this plugin (as neither `LinkPlugin` nor `FilePlugin` manifest the problem).

[2016-11-11 22:39] bhrutledge opened #399 "Additional template option"
It'd be nice to be able to configure additional templates to render the plugin contents, similar to djangocms-link and -picture. This would make it easier to add wrapper markup. I filed a [similar issue](https://github.com/divio/djangocms-style/issues/27) on djangocms-style.

[2016-11-14 19:57] rando305 commented on #336
It sure would be good if you guys fixed this.  Pinning it to .9x7 deosn't  help when other packages require .9x9

[2016-11-17 16:01] DanielKirov opened #400 "Editor doesn't load properly after upgrading to 3.3.1 from 3.0.1"
I was using djangocms-text-ckeditor 3.0.1 and after upgrading to 3.3.1 when opening a text plugin instance it doesn't load the existing content or any buttons (basically CKEditor doesn't load.)

I can see the following errors in my console that are causing this:
![ckeditor_issue](https://cloud.githubusercontent.com/assets/2420136/20396645/c0948610-acde-11e6-911d-0f355361208a.png)

This is on Djang

[2016-11-18 13:37] vxsx commented on #400
any chance you have `templates/cms/plugins/widgets/ckeditor.html` template in your project?
does it look different from https://github.com/divio/djangocms-text-ckeditor/blob/master/djangocms_text_ckeditor/templates/cms/plugins/widgets/ckeditor.html ?

[2016-11-18 14:33] DanielKirov commented on #400
Ah, that is indeed the case. I had forgotten I had overwritten it in order to change the labels of a few bits. Everything seems to work now, thanks!

[2016-11-18 14:33] #400 closed

[2016-11-28 16:30] jrief opened #401 "TextEditorWidget outside TextCKEditorPlugin"
Until version 3.0 it was possible to use the ``TextEditorWidget`` outside of a TextCKEditorPlugin and to add the LinkPlugin inside the edited text area.

Since version 3.1 this is much more complicate. Is there a possibility to use a TextEditorWidget outside of a TextCKEditorPlugin *and* being able to add/edit other available CMS plugins?

[2016-12-01 00:47] rando305 opened #402 "HTMLserializer"
html.py: line 63
    s = serializer.htmlserializer.HTMLSerializer(omit_optional_tags=False,
                                                 quote_attr_values=True)

needs to go to:
    s = serializer.HTMLSerializer(omit_optional_tags=False, quote_attr_values=True)
for the new version of html5lib.

[2016-12-06 14:14] marksweb commented on #160
@sthzg Would you be able to share your search items template? The default `aldryn_search` templates aren't that great, I just end up with a list of 'none' list items.

[2016-12-12 10:45] jvamvas commented on #336
@czpython Would it be possible to re-open this issue or to create another issue for the html5lib version problem? I'm afraid it might slip off the project's radar otherwise.

[2016-12-12 16:31] czpython opened #403 "Add support for new html5lib versions"
Ref:

#336
#344
#345
#402

[2016-12-12 16:32] czpython commented on #336
Thanks for the follow up, created ticket #403

[2016-12-12 16:33] czpython commented on #402
Thanks for the suggestion @rando305, there's backwards compatibility to consider as well as some patches that are done in the library. Closing as a duplicate of https://github.com/divio/djangocms-text-ckeditor/issues/403

[2016-12-12 16:33] #402 closed

[2016-12-13 15:01] ursomniac opened #404 "Subclassing Text or AbstractText"
I'm writing an app that would like to use djangocms-text-editor but I need to add a field to the plugin.   I've tried subclassing from AbstractText but that sets things up such that the admin always assumes the user wants to create a new object;   subclassing from Text takes care of that, but then you lose the TextEditorWidget (you just get a TextField).

Am I missing something (sometimes my stupi

[2016-12-13 21:46] rando305 commented on #403
Thank you.  This is killing me.  We need a solution.  I can't go to html5lib < .9x9.

I can't edit my production website.

Advise work arounds.  I am getting an error:
'module' object has no attribute 'htmlserializer'
Request Method:	POST
Request URL:	http://localhost:8000/admin/cms/page/edit-plugin/73/
Django Version:	1.9.11
Exception Type:	AttributeError
Exception Value:
'module' object has no a

[2016-12-13 22:50] rando305 commented on #403
Just for those of you who only have 'safe' people using the editor:
Here are two hacks that got my website to stop breaking:
Both are in html.py

1) s.serializer.htmlserializer doesn't exist so replace that line with:
    try:
        s = serializer.htmlserializer.HTMLSerializer(omit_optional_tags=False,
                                                     quote_attr_values=True)
    except Attrib

[2016-12-22 01:27] czpython opened #405 ""text_enabled" plugins in Text plugin become uneditable after saving"
Taken from https://github.com/divio/django-cms/issues/5787 by @bcdickinson:

Using a simplified version of the `HelloPlugin` class from the tutorial, but with `text_enabled` set to `True`:
[code]
hello_plugin.html:
[code]
When it's first added to a text plugin everything works as expected:
![first](https://cloud.githubusercontent.com/assets/17799825/20763487/20b48bf6-b722-11e6-8fdb-c48c025ca54d.pn

[2016-12-31 22:11] bxm156 commented on #232
@zsoobhan  I have encountered this issue as well, How did you fix it ?

[2017-01-01 20:56] zsoobhan commented on #232
@bxm156 this happened so long ago and my comment is somehow less than helpful. I no longer have access to the code base but if memory serves me right, the problem was with the `show_menu` flag being used twice. Once in the `base_template` and once in the inherited one.
Suggestion:
Try removing the `show_menu` flag in all the templates being used and see if that fixes the issue.
If that works, plea

[2017-01-02 20:08] jrief opened #408 "Render CMSPlugins as children of TextPlugin"
I created a CMSPlugins, which can be added as a child to the TextPlugin. This plugin shall render something such as ``<i class="arbitrary"></i>``. The problem is, that in the CKEditor widget, this HTML never shows up.

I then tried to override the method ``icon_src()``, but without success. Why isn't it possible to wrap the rendered content into something, such as say ``<cms-plugin ...><i class="a

[2017-01-02 21:24] vxsx commented on #408
I believe the issue here is missing configuration. CKEditor by default doesn't provide any styles, and has specific default options. For example - it removes empty tags. You may also notice that links are not of the same color as in your website for example.

To fix this, one should configure the CKEditor plugin to use your stylesheet and not remove the empty tags, like this:

Settings: https://gi

[2017-01-03 11:20] jrief commented on #408
Thanks @vxsx , that was the missing part. Now it almost works for me.

One thing however, it would be great if I could configure the ``configuration['contentCss']`` by iterating over all text-enabled ``installed_plugins`` and retrieve their special TextEditor stylesheets. Otherwise this has to be done by the client through ``settings.py``, which can error-prone.

Shall I create a pull request for

[2017-01-03 11:44] vxsx commented on #408
It sounds like an interesting idea, to be in control, but i have to say i'm very biased to the current way of things, even though it's [not without problems](https://github.com/divio/djangocms-text-ckeditor/issues/360).

It should be backwards compatible, as today we are usually using the site styles (it helps not only for plugins like icons but also for site specific styles - fonts, colors, butto

[2017-01-03 13:09] FinalAngel commented on #408
It sounds more like magic and so far we follow the rule: just use the CKEDitor settings and it works. If then it should be something on top of it not messing with the standards. Though I don't see much use cases for special ckeditor css files per plugin.

[2017-01-03 15:52] jrief commented on #408
@FinalAngel

I created a text-enabled CMSPlugin to render arbitrary icons inside edited text.
Into this plugin, you can upload an arbitrary font created on http://fontello.com/ . This font is shipped with some SVG, TTF, WOFF and a CSS file. My plugin serves these files through MEDIA_ROOT. Now each icon can be rendered using something such as ``<i class="icon-blah"></i>``, provided that the CSS fil

[2017-01-04 21:54] jrief commented on #408
Finally I found a working solution, which can dynamically load stylesheets and other assets from MEDIA_ROOT. The only missing part is a small fix on the **djangocms-text-ckeditor** side.

Therefore this issue can be closed via #409.

[2017-01-06 09:02] FinalAngel commented on #408
Nice, how would you load assets dynamically?

[2017-01-06 15:49] jrief commented on #408
It works by adding

[code]
where "some_view" renders a Javascript code snippet.

The important part here is, that ``json.dumps()`` must be able to handle lazy objects, because of ``reverse_lazy``. This is fixed by #409 and btw. is good practice anyway, because the ``DjangoJSONEncoder`` also handles dates, decimals and promises.

[2017-01-09 15:59] czpython commented on #408
Fixed by https://github.com/divio/djangocms-text-ckeditor/pull/409

[2017-01-09 15:59] #408 closed

[2017-01-23 19:23] czpython commented on #404
@ursomniac
Due to some limitations on the text plugin, anytime a user adds a text plugin it actually gets created instead of when the user presses save.

[2017-01-25 19:28] leety opened #412 "Inline icon is not showing in Editor window."
Hi,

I am using Django CMS 3.4.2 with CKeditor 3.4.0.  When inserting either the Glyphicons or FontAwesome icons from CMS Plugins, the WYSIWYG editing window would not display the selected icon.  However, it would show in the page once the page is saved.

for example, inserting the gift icon the HTML code for the <cms-plugin> tag from the WYSIWYG editor shows:
`<cms-plugin data-cke-real-element-ty

[2017-01-26 07:07] vxsx commented on #412
Hi,

I think this is an issue similar to https://github.com/aldryn/aldryn-bootstrap3/issues/112#issuecomment-265686941 - missing configuration

[2017-01-26 21:59] leety commented on #412
Thanks for the reply, indeed it is the same issue, however, I have encountered another problem, please allow me to continue on the original thread.

[2017-01-27 08:01] vxsx commented on #412
Good to know it helped. I'll leave this issue open until we document this

[2017-01-30 01:54] DanielTate commented on #336
This seems to be an issue still with the new Django-cms update

[2017-01-30 10:59] czpython commented on #336
Hello,
This issue is tracked in #403, the cms is decoupled from this app so it won't affect this issue.

[2017-02-01 14:55] jakob-o opened #413 "Failure to render subclasses of TextPlugin"
Hi,

after an update we encountered an error which does prevent us from using child plugins within subclasses of TextPlugin. I tracked the error down to here:
https://github.com/divio/djangocms-text-ckeditor/blob/3.4.0/djangocms_text_ckeditor/cms_plugins.py#L481
The issue is that the queryset is explicitly filtered on the concrete base class. Removing the filter works but might result in a perform

[2017-02-01 14:57] czpython commented on #413
@jakob-o I remember this issue was fixed.. you're subclassing the plugin or the plugin model?

[2017-02-01 15:03] jakob-o commented on #413
Hi,

I subclassed the plugin, __not__ the plugin model, this is why narrowing the plugin_type filter to "TextPlugin" excludes the plugin which is actually "RunningTextPlugin".

Regards

Jakob

[2017-02-01 15:37] jakob-o commented on #413
Hi,

another possibility would be to correct the url from
[code]
to
[code]

Unfortunately I don't know where this URL is generated in the editor.

Regards

Jakob

[2017-02-01 15:43] czpython commented on #413
Yeah that's why I was so confused.. `plugin_type` should point to `RunningTextPlugin` since we do `self.__class__.__name__` but if the url points to `text_plugin` then your class is never used.

[2017-02-01 15:44] jakob-o commented on #413
Hey,

is this reproducible for you, or am I missing something?

Regards

Jakob

[2017-02-01 15:47] czpython commented on #413
The problem is here https://github.com/divio/djangocms-text-ckeditor/blob/master/djangocms_text_ckeditor/cms_plugins.py#L324.

We shouldn't use self.model since multiple plugins can point to the same model.
Maybe we change it to:

[code]

which for you would return:

`djangocms_text_ckeditor_runningtextplugin_render_plugin`

[2017-02-01 15:56] jakob-o commented on #413
Works for me. Thanks

[2017-02-01 16:03] jakob-o commented on #413
Unfortunately this fails the tests...

[2017-02-01 17:16] #413 closed

[2017-02-01 19:40] jakob-o commented on #405
Hi,

just stumbled across this as well... When inserting a link (as a plugin) and saving the text plugin, the link afterwards is only editable as if it was linked from the editor via the 'Link' control and does not show the link plugin admin. Is this confirmed / does a fix exist?

Regards

Jakob

[2017-02-01 23:14] jakob-o commented on #405
I was able to solve my issue by adding `cms-plugin` to my allowedContent settings:
[code]

[2017-02-02 09:04] vxsx commented on #405
Thanks @jakob-o ! We'll add this to the documentation.

@bcdickinson could you please check if that would solve your problem as well?

[2017-02-02 09:40] bcdickinson commented on #405
I'm not sure where the setting @jakob-o changed is, but that didn't seem to be the problem for me.

Having had time to take a look at this myself again, I managed to track the issue down to broken regexes for parsing HTML in `djangocms_text_ckeditor/ckeditor_plugins/cmsplugins/plugin.js` (I'm using version 3.4.0, but the same bug exists in master).

The first was a problem in detecting whether the

[2017-02-02 13:53] vxsx commented on #405
sadly there're currently no automated tests for the frontend part of djangocms-text-ckeditor, only manual testing. it's on my todo list but i don't think i'll be able to do it soon

it's still great if you could send us the pull request with this patch :)

[2017-02-03 23:03] #404 closed

[2017-02-07 04:46] DustinHolden opened #417 "Mixed Content adding TextPlugin"
When adding a new Text Plugin to django CMS the iframe url is loading http when the site is served over https. Other django cms plugins are working. The server serving this is redirecting all http requests to https.

Here you can see the ifram is a relative src.
![src](https://cloud.githubusercontent.com/assets/1103486/22678181/cfcd519c-ecbd-11e6-9163-9c52c2b04999.png)

![mixedcontent](https://clo

[2017-02-07 15:39] gmenih341 opened #418 "Multiple HTMLFields can't have different configurations"
I'm trying to have two different `HTMLFIeld`'s, both using different configurations. Example model:

[code]

Both `title` and `text` will use the `CKEDITOR_HEADING_CONF`.

[2017-02-07 17:32] DustinHolden commented on #417
I think this is going to be related to this issue: [Unsafe script warnings when saving/publishing through the front end #4432](https://github.com/divio/django-cms/issues/4432)

[2017-02-07 17:32] #417 closed

[2017-03-02 15:44] bhrutledge commented on #399
I'm again wishing that I could add wrapper markup around a Text plugin, without having to putting it inside a Style plugin. Any idea what the level of effort would be to add this?

[2017-03-07 15:37] gmenih341 opened #419 "'cmsplugins' option in Toolbar is empty"
I'm trying to have an `HTMLField` that allows adding CMS Plugins, like the Default `Text` plugin offers. By my understanding, adding `cmsplugins` to the `toolbar_HTMLField` should do the trick, but it doesn't give me any plugins to pick form.

I get the dropdown, but it's empty. What am I doing wrong? Here's my configuration:

[code]

[2017-03-12 11:20] vxsx commented on #419
In short - this is not possible due to how django cms works with plugins, placeholders, pages etc.

[2017-03-12 11:20] #419 closed

[2017-03-12 15:09] macolo opened #420 "Upgrade from 3.0.1 to 3.4.0: all djangocms-links broken"
I am trying to upgrade from 3.0.1 to 3.4.0 but the upgrade breaks all links that have been created previous to the update.

This is how broken links look like on 3.4.0:

![image](https://cloud.githubusercontent.com/assets/4056979/23832890/0b495f5a-073e-11e7-9979-5f05e2636f0d.png)

this is what's left in the source code:

![image](https://cloud.githubusercontent.com/assets/4056979/23832898/2a3a449c

[2017-03-13 10:25] #405 closed

[2017-03-13 10:25] #412 closed

[2017-03-30 12:28] creimers opened #421 "Edit text -> save -> images doublicated"
[code]

After updating the cms (3.2.X --> 3.3.3) and the ckeditor (2.8.1 --> 3.1.0), I'm observing a very strange behavior.

1. The embedded image is no longer recognized as a cmsplugin.
<img width="464" alt="bildschirmfoto 2017-03-30 um 18 14 30" src="https://cloud.githubusercontent.com/assets/6090492/24514580/11b84000-1575-11e7-8945-a50bb6b43dd9.png">

2. When I edit text that has one or more em

[2017-03-31 06:09] vxsx commented on #421
Could you check the source before saving? (preferably click source, go back, click source again)
The reason why this might happen is the `<cms-plugin>` tag that wraps the image is incorrectly unwrapped by ckeditor resulting in:
[code]
instead of
[code]

What happens on save is you have one image that is a cms plugin, and another is just an image in the markup (because whatever is in between cms-pl

[2017-03-31 13:09] creimers commented on #421
I'm not entirely sure what you mean by

But here is what I've done:

**1. Edit mode, but not edited yet**
<img width="1106" alt="bildschirmfoto 2017-03-31 um 15 01 41" src="https://cloud.githubusercontent.com/assets/6090492/24551593/51e34d06-1623-11e7-97a7-8e6c535741d9.png">

**2. Edit mode, after saving**
<img width="1137" alt="bildschirmfoto 2017-03-31 um 15 02 49" src="https://cloud.githubuserc

[2017-04-01 07:27] vxsx commented on #421
Oh, I meant "Source" button in ckeditor, "Quellcode" on your screenshots

Is the problem still there after updating? Custom templates are fine.

[2017-04-03 10:06] creimers commented on #421
Hi.
Yes, the problem is still there after updating.

Here are some more screenshots:

**1. Source code before saving:**

<img width="898" alt="bildschirmfoto 2017-04-03 um 12 03 10" src="https://cloud.githubusercontent.com/assets/6090492/24604629/d74cc208-1865-11e7-9c91-f5c5f54d27aa.png">

**2. Source code after saving:**

<img width="875" alt="bildschirmfoto 2017-04-03 um 12 04 06" src="https://c

[2017-04-03 13:01] vxsx commented on #421
That's exactly what I meant, thanks.
So based on screenshots it looks like the problem I was describing.

Could you please show your ckeditor settings from settings.py (and if they reference any external js configuration files i'd like to check them out too) and also check if `/templates/cms/plugins/widgets/ckeditor.html` is overridden in your project? (e.g. which js file does it reference and doe

[2017-04-03 13:23] creimers commented on #421
**settings**

[code]

**template**

`/templates/cms/plugins/widgets/ckeditor.html` is **NOT** overridden.

[2017-04-03 20:27] sidneijp commented on #418
Looks like the problem is in the logic used on the template:

djangocms_text_ckeditor/templates/cms/plugins/widgets/ckeditor.html

Already in the first rendering of the ckeditor it loops through all ".CMS_CKEditor:visible" on the page and initializes them with the configuration of this first ckeditor. Additionally the lines:

`
                if (editor.data('isCKEditorInitialized')) {

[2017-04-03 21:03] sidneijp commented on #418
I've sent a pull request fixing it. It basically change the selector used in the init function from `.CMS_CKEditor:visible` to `{{ ckeditor_selector }}:visible`

[2017-04-05 07:15] creimers commented on #421
If you're saying 'it looks like the problem I was describing', do you mean that you've come across this before?

My client is getting a little impatient on this problem, as they can't really edit any text content with images in it...

Do you think this is solvable without too much manual work?

[2017-04-05 07:45] vxsx commented on #421
Yes, it's something that I think should've been fixed in https://github.com/divio/djangocms-text-ckeditor/issues/353

As to how solvable it is - don't know for sure.
Could you try loading your site styles inside ckeditor? Like shown here: https://github.com/divio/djangocms-text-ckeditor/blob/master/README.rst#inline-preview

I'm going to try to reproduce on a clean project, but can't promise it'll

[2017-04-05 07:52] creimers commented on #421
You mean adding these two lines to `CKEDITOR_SETTINGS`?

[code]

[2017-04-05 08:20] vxsx commented on #421
Yes. The css one is more important (and it has to match your project's css path).

[2017-04-05 08:28] creimers commented on #421
For the `default:/static/js/addons/ckeditor.wysiwyg.js` I'm getting a 404.

The styles seem to have an effect, but the image is still not recognized as a cmsplugin-filer-image instance.

<img width="918" alt="bildschirmfoto 2017-04-05 um 10 27 58" src="https://cloud.githubusercontent.com/assets/6090492/24696712/a6ab2b5e-19ea-11e7-8a49-ace4385cf589.png">

[2017-04-05 09:06] jedie commented on #419
I have exact the same question!

There is nothing about cmsplugins in the docs :(

[2017-04-05 12:29] vxsx commented on #421
Could you try putting this file under that path https://github.com/divio/django-cms-explorer/blob/master/static/js/addons/ckeditor.wysiwyg.js ?

[2017-04-05 12:54] creimers commented on #421
I did that. I doesn't change anything...

But in another Text with images this is showing up in my console:

<img width="636" alt="bildschirmfoto 2017-04-05 um 14 52 33" src="https://cloud.githubusercontent.com/assets/6090492/24706376/bbb0b13e-1a0f-11e7-8870-bea937916266.png">

[2017-04-05 16:06] vxsx commented on #421
Sadly i can't reproduce an issue on a blank project with
[code]
as plugin markup. I'll investigate more

[2017-04-05 16:43] creimers commented on #421
Is there anything else I can assist with? Would it be helpful to see another set of screenshots of `cms==3.2.1` + `djangocms-text-ckeditor==2.8.1`?

[2017-04-05 17:05] vxsx commented on #421
i don't think cms 3.2.1/ckeditor 2.8.1 would be helpful, too much changed since then. it would be helpful if you could try reproducing that on a reduced environment we can debug afterwards, e.g. sample project on github, but otherwise i don't know

@czpython maybe you could think of something?

[2017-04-06 13:26] creimers commented on #421
Kind sir. I have set up an example project: https://github.com/creimers/ckeditor_bug

Unfortunately, I haven't been able to reproduce the faulty behavior so far. Leaves me a bit puzzled.

I will try to reproduce this with the original project and a clean database.

For a better understanding: Where do you think this bug most likely resides? Is it a django thing or a javascript thing?

[2017-04-06 13:49] creimers commented on #421
I have another interesting detail to share (I hope).

I rolled back to the `cms==3.2.1` and `ckeditor==2.8.1` version.

When editing that image embedded in text, all I get to see is a placeholder:

<img width="498" alt="bildschirmfoto 2017-04-06 um 15 46 40" src="https://cloud.githubusercontent.com/assets/6090492/24757789/81f75d22-1ae0-11e7-930a-b5f5735a0fcc.png">

Source:

<img width="798" alt="b

[2017-04-06 14:53] vxsx commented on #421
The bug most likely resides in JavaScript and in the way the markup is handled by browsers. I.e. the browser encounters some markup that isn't valid - and tries to unwrap it to the best of it's ability, e.g `<p><div></div></p>` becomes `<p></p><div></div><p></p>`. So somehow the browser unwraps the `<cms-plugin>` tag to be separate, and it's contents are put next to it. Which would explain why it

[2017-04-07 08:38] creimers commented on #421
I'm considering to downgrade the whole system again to `cms==3.2.1` and `ckeditor==2.8.1`, as the client really needs to work with the system. Should that be painless, or would you advise against it?

[2017-04-11 19:23] Xosted opened #423 "How to use it in a form?"
Hi,
I am sorry if this is not the right place to ask but I just couldn't figure out where to drop my question. I guess it must be simple but I couldn't find how to use this module outside of the admin creation of a page?
I would like to create a form, with a ckeditor powered textarea, for my visitors to use and submit.
What would be the prefered way to do this?
Sorry again if this isn't the right

[2017-04-12 09:21] creimers commented on #421
I did indeed downgrade the system to `cms==3.2.1` and `ckeditor==2.8.1`. It 'solves' the problem for now.

What it also does: it gives me these empty tags in the text where there used to be the duplicated image... can that be a trace?

<img width="738" alt="bildschirmfoto 2017-04-12 um 11 00 50" src="https://cloud.githubusercontent.com/assets/6090492/24950464/6a16c392-1f71-11e7-9b4b-16589582685a.p

[2017-04-13 06:19] vxsx commented on #421
Well 2.8.1 doesn't have any special handling for `<cms-plugin>` tags - so it seems like a leftover from downgrading. I thought this migration was supposed to handle that https://github.com/divio/djangocms-text-ckeditor/blob/master/djangocms_text_ckeditor/migrations/0004_auto_20160706_1339.py#L52-L58 /cc @czpython

Anything that would help us reproduce the issue would be good, since so far we could

[2017-04-18 12:32] creimers commented on #421
@vxsx Can your provide me with your bitbucket username? I prepared a repo in which this behaviour is reproducible.

[2017-04-19 05:28] vxsx commented on #421
@creimers same as on github, vxsx

[2017-04-28 14:27] rgcarrasqueira opened #426 "How to setup this settings CKEDITOR.dtd.$removeEmpty['i'] = false"
Hello!

I would like to remove the feature that remove empty tags inside CKEDITOR, there is a way, but I have to change the JS config file that is not available directly at this plugin.

So I'd like to know how to setup this property using configuration available at this plugin using the django way?

Thanks

Rogério Carrasqueira

[2017-05-13 14:11] petrklus commented on #421
Experiencing the same problem, clean install, no overrides of the text editor JS/CSS

Is there any mitigation that could be used for this?

[2017-05-13 14:12] petrklus commented on #421
I am running on Divio, so if you guys are using the platform as well, I should be able to give you access to the stage server. Also, our editor has reported that this is happening only when more than one image is present on a page.

[2017-05-14 07:18] vxsx commented on #421
@petrklus it might also be invalid markup of the plugin that's inlined (unclosed tag etc)
but otherwise - send me the project id via intercom, i'll take a look

[2017-05-14 09:08] petrklus commented on #421
@vxsx Thank you very much! Just sent you a message via Intercom with staging URL where the problem can be reproduced

[2017-05-14 09:48] vxsx commented on #421
@petrklus I answered on intercom, i believe it's fixed by the https://github.com/divio/djangocms-text-ckeditor/pull/415 in 3.5 release of djangocms-text-ckeditor

[2017-05-14 09:49] vxsx commented on #426
Normally it's done in a way that's described in the readme - https://github.com/divio/djangocms-text-ckeditor#inline-preview

You would create the file with the ckeditor configuration, like https://github.com/divio/django-cms-explorer/blob/908a88afa4e1d1176e267e77eb5c61e31ef0f9e5/static/js/addons/ckeditor.wysiwyg.js#L73 and then add it to settings like here: https://github.com/divio/django-cms-dem

[2017-05-14 09:49] #426 closed

[2017-05-14 10:02] petrklus commented on #421
@vxsx Just update to 3.5 and still seeing the same issue (re-build the test page to be on a safe side).

On every save, each image gets duplicated

[2017-05-14 11:35] petrklus commented on #421
@creimers does 3.5 solve your issue? It does not seem to help me

[2017-05-14 13:26] petrklus commented on #421
Correction - 3.5 does seem to be fixing it (Just make sure you delete all old templates/static files Divio project init brings in to make sure it's really running all 3.5 html/css).

Thanks to @vxsx for assistance today.

[2017-05-15 09:22] creimers commented on #421
@petrklus Yes, upgrading to 3.5 solved the issue for me. Also, I had invalid markup in my image plugin template.

[2017-05-22 16:35] db654 opened #428 "Adding cms plugin in ckeditor strips existing inline style tag"
I'm currently experiencing this in version 3.1 after an upgrade from 2.8.1 where it worked correctly, tho testing newer versions did not appear to resolve the issue.

Given this piece of markup:
`<span style="font-size:20px;">Text</span>`

If I highlight this text in ckeditor, then attach a filer link plugin and save, the existing span tag and its inline style is lost -- resulting in this:
`<cms-p

[2017-05-24 11:22] petrklus opened #429 "Race condition between popup show and its z-index setting when plugin/placeholder is clicked multiple times"
Steps to reproduce:

1. Add text plugin
2. Add link / other CMS plugin and save, then re-open the editor
3. Click rapidly on the newly created link - the popup can no longer be activated (in the demo, link "non" has been clicked multiple times in rapid succession).

No other popups can be activated until editor is closed and re-opened.

Demo of the bug in action:[https://www.youtube.com/watch?v=F2

[2017-05-24 11:22] petrklus commented on #429
@vxsx this is happening on 3.5, I've set up demo at https://ckeditor-bug-stage.us.aldryn.io/en/?edit

[2017-05-24 11:30] petrklus commented on #429
@vxsx my guess would be an issue at https://github.com/divio/djangocms-text-ckeditor/blob/9ae390e7419d3be34615fb43d991f44da0f306cd/djangocms_text_ckeditor/static/djangocms_text_ckeditor/ckeditor_plugins/cmsdialog/plugin.js#L877 but will leave it to someone more familiar with the code to debunk

[2017-05-24 11:40] petrklus commented on #429
or, more likely, issue here https://github.com/divio/djangocms-text-ckeditor/blob/9ae390e7419d3be34615fb43d991f44da0f306cd/djangocms_text_ckeditor/static/djangocms_text_ckeditor/ckeditor_plugins/cmsdialog/plugin.js#L888

[2017-05-24 11:52] petrklus commented on #429
@vxsx @czpython is this something that looks like an easy fix for you guys? I've also been able to reproduce this on Divio demo site (running 3.4 judging based on the skin)

[2017-05-27 14:05] vxsx commented on #428
Can it be that when you select the text and replace it with a plugin it actually replaces the span?
Can you switch to "Source" mode and then wrap the cms plugin with the span you need and then switch back out of source and back into it to see if it's still in place (switching triggers ckeditor's filters). If the span is still in there after those switches, then it probably is an issue with ckedito

[2017-05-29 07:52] vxsx commented on #429
it would be good to remove those dialog/resize plugins, but ckeditor doesn't support touch devices fully
it looks simple but it's not an easy fix. i'll take a look this week

[2017-05-30 14:18] furiousdave commented on #428
Yeah, if you add the span or em or whatever back in after creating the cms plugin, it doesn't get stripped again. It's only on the initial creation of the cms plugin that all inline tags within that highlighted text get removed.

All started, I think, after the switch to the <cms-plugin> tags, which are otherwise great, but if you think it's more likely a ckeditor bug, I'll dig into that as well.

[2017-05-30 15:26] vxsx commented on #428
Yeah. It's probably a change in the way they treat selections across those versions.

The way we insert the plugin is we take the current selection in ckeditor and replace it with the preview of the plugin wrapped in those special tags, then make a ckeditor widget out of it. The important part here is the selection contents replacement.

So yeah, I think what happens is in 2.8.1 it wasn't greedy f

[2017-05-30 15:51] furiousdave commented on #428
Thanks a lot for the info. If I come across some kind of configuration change or workaround, I'll post back here for future reference.

[2017-06-01 13:19] petrklus commented on #429
Thank you @vxsx - very much appreciated. From my simplistic point of view, wouldn't it be sufficient to always put in minimal z-index to ensure that dialog windows are never below the main text body?

[2017-06-01 13:26] petrklus opened #430 "Link edit dialog malformed on certain text editor sizes"
When opening up editor to edit "link" type anchors, the editor dialog window is not sized correctly:

https://youtu.be/j9qAZpZSaFk

This seems to be happening mainly with standard link functionality (not CMS plugin links).

[2017-06-01 13:28] petrklus commented on #430
@vxsx is this linked to https://github.com/divio/djangocms-text-ckeditor/issues/429 or is it a different issue?

[2017-06-02 09:35] petrklus commented on #430
Looks like this has been reported in the ckeditor repository:

https://github.com/ckeditor/ckeditor-dev/issues/453

Just out of interest - how long does it usually take for a ckeditor fix to propagate to the Django CMS plugin?

[2017-06-02 09:36] petrklus commented on #429
@vxsx hello, luck fixing this?

[2017-06-02 12:19] petrklus commented on #429
@vxsx @czpython one more observation - this only seems to be an issue when the text editor is maximised. So probably some default min z-index is not reflecting the ckeditor current state?

[2017-06-02 16:01] vxsx commented on #430
Normally few days, but it always depends on a lot of different things :)

[2017-06-02 16:02] vxsx commented on #429
@petrklus sorry, not yet

[2017-06-03 20:12] #418 closed

[2017-06-04 20:34] GregoryAveryWeir opened #431 "NoReverseMatch at /admin/cms/page/edit-plugin/1/"
We recently updated from older versions of django-cms and djangocms-text-ckeditor. Now, when trying to edit a CMS placeholder by double-clicking it in Content edit more, we're getting the following error on the AJAX call to pull up the editor:

**NoReverseMatch at /admin/cms/page/edit-plugin/1/**
`Reverse for 'app_list' with arguments '()' and keyword arguments '{u'app_label': 'djangocms_text_cked

[2017-06-16 13:04] petrklus commented on #429
@vxsx @czpython Another observation - I believe that previous versions (not sure which one I was looking at but roughly at a time of Django CMS 3.2) put up an overlay when dialog is activated - which then prevents further clicking and this issue altogether.

Is it a regression or was the overlay intentionally removed?

[2017-06-20 10:21] sobolevn opened #432 "Vulnerability scanning issue"
We are using [`safety`](https://github.com/pyupio/safety) for our project to scan vulnerabilities.

It finds this:

Tried to upgrade `html5lib` to `0.999999999` (this version system is ridiculous!), but is not supported by this library.

[2017-06-22 01:30] GregoryAveryWeir commented on #431
We're using django-admin-bootstrap to style our admin, but if we disable it everything works. It's weird, because django-admin-bootstrap is almost entirely just new templates.

[2017-06-26 20:27] flaviocampiteli commented on #421
Hi peoples,

i'm upgraded to 3.5 version, but dosen't resolved this problem.
Continue to duplicate the images.

[2017-06-28 16:17] petrklus commented on #421
@flaviocampiteli did you purge the static folder contents that had the old scripts in?

[2017-06-28 16:21] petrklus commented on #429
@vxsx Sorry to keep pestering you but can you please share if there is any plan to fix this one?

[2017-06-28 16:26] petrklus commented on #429
@vxsx Sorry to keep pestering you but can you please share if there is any plan to fix this one? Also, I cannot see status of the bug as accepted, is there any reason this may not be considered a bug?

[2017-06-29 07:19] vxsx commented on #429
@petrklus there is a plan to fix it, but other things have higher priority at the moment

[2017-06-29 10:15] czpython commented on #431
Hello @GregoryAveryWeir,
Can you confirm the `NoReverseMatch` error is raised by a template?

[2017-06-29 10:18] czpython commented on #423
Hello @Xosted,
You can use it like so:

[code]

Hope that helps.

[2017-06-29 10:18] #423 closed

[2017-06-29 10:19] czpython commented on #432
Closing as duplicate of https://github.com/divio/djangocms-text-ckeditor/issues/403

[2017-06-29 10:19] #432 closed

[2017-06-29 10:24] czpython commented on #399
Hello @bhrutledge,
I'm closing this as a won't fix.
The text plugin UI would be affected to add such option and so far we've not seen much demand/need for it.

You can override the text plugin template and add the wrapper there or you can also use the AbstractText class to create your own version of the text plugin.

[2017-06-29 10:24] #399 closed

[2017-06-29 10:26] czpython commented on #343
Hello @davidmaxs,
Closing this as it was likely an issue with the cmsplugin-filer app.

[2017-06-29 10:26] #343 closed

[2017-06-29 10:26] czpython commented on #387
Fixed by https://github.com/divio/djangocms-text-ckeditor/pull/390

[2017-06-29 10:26] #387 closed

[2017-06-29 10:27] czpython commented on #401
Hello @jrief,
Are you referring to the 3.0 version of ckeditor or django CMS?

[2017-06-29 16:35] GregoryAveryWeir commented on #431
I can confirm. Django thinks the error is in `djangocms_text_ckeditor/templates/cms/plugins/text_plugin_change_form.html` at line 0, but that template never tries to reverse `app_list`. This suggests the error is in the `change_form_template` or one of its parents.

[2017-07-01 23:23] jrief commented on #401
From version 3.1 through 3.4.
The widget without plugin works fine. Only the combination of text and a sub-plugin, such as a link doesn't work anymore.
My workaround is to use the provided field instead of the widget.

[2017-07-06 15:29] macolo opened #434 "links around cmsplugins are removed upon save"
When I create a cmsplugin instance in the text editor (for example a bootstrap3 image) and then click on the cursor icon that appears on hover, and then create a normal link (not a cmsplugin link), the link gets correctly created around the image cmsplugin. But upon saving it is stripped away.

I am currently searching for ways to prevent that.

[2017-07-10 06:12] lazydragon opened #435 "Is the drag & drop of image features still working?"
Within a text plugin dialog, I can input texts and filer images correctly.

However, drag & drop of images from windows system to the dialog box doesn't have any effect, not even an error thrown on either front end or backend

[2017-07-19 10:57] Chronial commented on #403
[Reposting](https://github.com/divio/djangocms-text-ckeditor/issues/336#issuecomment-250773058) here, since I never got an answer and would still be interested in working on this:

@czpython Is it essential that it is backwards compatible? This adds a lot of complexity and the old implementation seems dangerous, since it modifies global settings of html5lib: https://github.com/divio/djangocms-text

[2017-08-09 14:43] lucashelfs commented on #435
I'm also curious about this. I would like to add images to my articles using only the djangocms-text-ckeditor, unfortunately it seems that it is not possible.

[2017-08-09 22:55] czpython commented on #435
Drag & drop is supported by the ckeditor js library but djangocms-text-ckeditor currently does not support this. Adding can image can only be done using the embedded image plugin.

[2017-08-27 00:42] contextref opened #438 "Can't edit text due to an attempt to load non-existent js file, but only when running in production (port 80)"
Very strange: when I am running on a server with port 8000, all is well.  When in production on port 80 (or localhost port 80), I am getting this 404 error when trying to edit a text plugin:

[26/Aug/2017 20:35:20] "GET /static/djangocms_text_ckeditor/ckeditor/plugins/copyformatting/lang/en.js?t=H0CG HTTP/1.1" 404 147

As a result, text editor does not load properly and text can't be edited.

this

[2017-08-29 13:43] jlucchese opened #439 "Scrolling problem on mobile Android"
The scrolling on mobile Android behaves buggy whenever I load a page that have a textarea with ckeditor.

The problem appears to be with the way djangocms-text-ckeditor loads the ckeditor on a textarea (CMS.CKEditor.init). I test it with ckeditor and django-ckeditor and it behaved normally using CKEDITOR.replace.

To reproduce the problem:

1. Create an app with a ckeditor field
2. Load it up on a

[2017-10-10 03:15] Chematronix commented on #435
Drag & Drop or pasting images only works in the Paste from Word dialog for me, though before it worked directly in the editor.  I'm using version 3.2.1.

https://github.com/django-ckeditor/django-ckeditor uses a more up to date version, but you'll lose DjangoCMS/plugin integration.

[2017-11-15 22:32] merwok commented on #403
html5lib <0.99999999 has an XSS vulnerability, so a new release compatible with that version would be very welcome.

[2018-01-07 23:32] artforlife opened #453 "Code Snippet Plugin Disappears Upon Saving Text Content"
### Summary

I am not sure if this belongs here or is better suited for Aldryn NewsBlog repository. In short, placing a code snippet inside a Text content box does not work.

I am able to place a Text box inside a `Newsblog_Article_Content` placeholder. Then, I type some text and place a CodeSnippet plugin inside the text content. The source looks like this:

[code]
After I save the changes to the

[2018-01-08 07:55] vxsx commented on #453
Hi, thanks for reporting - which version of the djangocms-text-ckeditor is used?

[2018-01-10 18:21] mailbackwards opened #454 "CKeditor is mangling inline plugins with multiple `<p>` tags"
I have a `RawPlugin` inside of CKEditor where I hope to keep raw HTML and avoid CKEditor changes. Most content works fine, including content inside a single paragraph tag, e.g. `<p>Foo</p>`. But if I add a second graf, e.g. `<p>Foo</p><p>Bar</p>`, and then toggle once between the Source and Edit views, it moves the p tags around and mangles the tags.

After initially adding it (this is "correctly"

[2018-01-11 17:27] artforlife commented on #453
Is there a quick way to check that?

[2018-01-12 07:47] vxsx commented on #453
Normally I check with something like `pip freeze | grep ckeditor`

[2018-01-14 20:05] jankrnavek opened #455 "unwanted behavior - remove of empty tags (e.g. <i class="fa fa-li></i>)"
Hello all,
ckeditor removes empty tags (e.g.   <i class="fa fa-li></i> )  and i dont want that behavior.
I want to set something like
[code]
but dont know how to set  inside settings.py
Is there some solution?
Hanz

[2018-01-15 08:06] vxsx commented on #455
You need to add a js configuration file in the settings (like here: https://github.com/divio/django-cms-demo/blob/7a104acaa749c52a8ed4870a74898e38daf20e46/src/settings.py#L322)

That file can contain what you want, normally we use something like this: https://github.com/divio/django-cms-explorer/blob/908a88afa4e1d1176e267e77eb5c61e31ef0f9e5/static/js/addons/ckeditor.wysiwyg.js#L73

Slighly more in

[2018-01-15 08:06] #455 closed

[2018-01-15 11:03] vxsx commented on #454
There seems to be a bug on our end, since that should unwrap into this (normally):

[code]

I'm looking into why it happens.

In the meantime to fix it you can add `text_editor_preview = False` to the RawPlugin class. It won't mangle the markup but there will be no preview

Otherwise there's no way to opt out of things we do to have inline previews of plugins

[2018-01-15 11:08] vxsx commented on #454
Interestingly enough - I can't reproduce this, for me it successfully unwraps into:
[code]

Is there any additional ckeditor configuration used?
Does it happen for you in all browsers? (browser's mechanism is used to unwrap `<p>` tags)
What are your `CKEDITOR_SETTINGS` in your settings.py?
Is it possible for you to provide access to a minimal project where I can reproduce it?

[2018-01-15 12:53] vxsx commented on #438
Closing, since not a bug with djangocms-text-ckeditor itself, but thanks for posting, hope it'll help someone!

[2018-01-15 12:53] #438 closed

[2018-01-15 19:50] mailbackwards commented on #454
I think I've now figured this out... it has to do with the `__str__` method on the plugin. Apparently the way it was rendering left half a `<p>` tag in the markup in many cases, even though it's escaped (you can see the `&lt;` up there in my original message). That must be confusing the parser-- if I strip out all tags before rendering it works.

So I think that's the fix-- I'm glad to have it, an

[2018-01-16 08:54] vxsx commented on #454
I think we should definitely add something to the docs about it, thanks a lot!

[2018-01-16 09:43] vxsx commented on #453
This issue might be similar to https://github.com/divio/djangocms-text-ckeditor/issues/454
Which "code" plugin are you using? If you have control over it - try removing html tags from it's __str__

[2018-01-16 20:58] dsummersl opened #457 "Image Properties popup fails to appear in v3.5.1"
Double clicking on an image in ckeditor region fails to bring up the "image properties" editor in version 3.5.1 and 3.5.2. Downgrading to v3.5.0 fixed the problem.

[2018-01-16 21:16] dsummersl commented on #457
I looked at what was working in a firefox debug tool, then searched for the CSS class affected between the two releases, which suggests a z-index issue is at the root of the problem.

    git log 3.5.0..3.5.1 -G cke_dialog

Change: 7cad2b7

[2018-01-19 13:34] vxsx commented on #457
Thanks for the report. It's not really clear to me why table properties dialog works correctly at the same time. But will fix soon

[2018-01-21 17:59] artforlife commented on #453
I am not using any code plugin I think. That is, I didnt install one on purpose. I will report on the version shortly.

[2018-01-23 10:06] creimers opened #459 "Can't save changes - Uncaught TypeError in browser console"
`Django==1.8.18`
`django-cms==3.4.4`
`djangocms-text-ckeditor==3.5.1`

I have an instance of a TextPlugin containing text as well as multiple links and images.

Upon saving changes in this instance, I get the following error in the browser console (tested both in Firefox and Chrome, latest versions at time of writing, respectively).

<img width="621" alt="bildschirmfoto 2018-01-23 um 10 39 09" src

[2018-01-24 18:25] db654 commented on #457
Similar issue for me in 3.5.1 with the link modal though only when trying to edit existing links. When creating a new one, the dialog works correctly.

[2018-01-25 16:25] vxsx commented on #459
Hi @creimers - is it possible for you to provide the test project for this issue? Or an exact body of this particular text plugin at least? So far I wasn't able to reproduce

[2018-01-26 22:09] Clindbergh commented on #3
Any solution to this?

https://github.com/divio/djangocms-text-ckeditor/blob/master/README.rst#inline-preview and #360  mentions the use of a javascript file, but I haven't been successful using the setting along with the js file it with this content

[code]

No js error nor a python error, the file seems to be blatantly ignored.

[2018-01-29 17:20] trawick opened #461 "PyPI has 3.5.3 but CHANGELOG only describes versions through 3.5.1"
Please document what changed so that your humble users can determine how urgently to apply the update :)  Thank you!

[2018-01-29 19:01] czpython commented on #461
Thanks for reporting this.
We've addressed it in https://github.com/divio/djangocms-text-ckeditor/commit/4b0fc27a257fa5d51d5c4bc42529328382bf60f9

[2018-01-29 19:01] #461 closed

[2018-01-30 08:10] vxsx commented on #3
@Clindbergh you should use `default` instead of `my_custom_style`.

[2018-01-30 09:54] vxsx commented on #457
@dsummersl @db654 could you try https://github.com/divio/djangocms-text-ckeditor/pull/460 and see if it fixes the problem for you?

[2018-01-30 14:43] db654 commented on #457
Yep, that fixes it for me. Thanks very much.

[2018-02-17 11:56] jedie commented on #403
ping

[2018-02-19 01:19] sveetch opened #465 "Ckeditor not enabled on newly added inline item"
### Summary

I use the widget on inline item. When i add a new inline item, Ckeditor is not enabled on my field, i just got a simple textarea. But if i save the object and edit it, the previously added item got the Ckeditor enabled on it.

I didn't see any error in the Javascript console from my Firefox inspector.

### Environment

- Django==1.10.8
- django-cms==3.4.5
- djangocms-text-ckeditor==3.

[2018-02-19 10:19] sveetch commented on #465
I noticed than i've got a plugin using the same admin form + TextEditorWidget way that works correctly (Ckeditor is correctly enabled on newly added inline item) but within a project with different environnment:

- Django==1.9.13
- django-cms==3.3.4
- djangocms-text-ckeditor==3.5.0

[2018-02-20 10:03] jedie opened #466 "automatic generate "pasteFilter" ?!?"
The CKEditor has the "pasteFilter": https://docs.ckeditor.com/ckeditor4/latest/api/CKEDITOR_config.html#cfg-pasteFilter

What's about to generate the tag list for it by **CKEDITOR_SETTINGS** ?

[2018-02-20 13:12] gatsinski commented on #398
I have the same issue. When I try to add a new TextPlugin the [has_reached_plugin_limit](https://github.com/divio/django-cms/blob/3.4.5/cms/utils/plugins.py#L233) function is called twice. The first time it passes successfully because there is no plugin attached to the placeholder. Before the second call however an empty CMSPlugin is created and it is the one that causes the problem because this t

[2018-02-26 14:02] ursomniac opened #467 "Text widget in admin behaves incorrectly when used in an Inline when "select source" is activated"
Given a model with an HTMLField using the CK Editor widget in the Admin, the widget behaves properly when using the "Source" feature.   However, if that model is used as an inline to another model, the widget only uses 50% of the width when the "Source" feature is selected.

<img width="860" alt="ckeditor_modeladmin_works" src="https://user-images.githubusercontent.com/485748/36674339-c61e2032-1ad

[2018-03-01 11:38] Clindbergh commented on #3
@vxsx Thank you, but the file `/home/user/project/project/static/js/ckeditor.wysiwyg.js` seems to be ignored, do I have to include it somewhere so it will be loaded?

Using the variable `stylesSet` in `settings.py` as suggested will work but replaces existing styles (as noted by the original author). I vote for reopening this.

[2018-03-01 12:34] vxsx commented on #3
It has to be in your static directory and the path should start from the root of the project.
So for this example:

https://github.com/divio/django-cms-demo/blob/7a104acaa749c52a8ed4870a74898e38daf20e46/src/settings.py#L318-L324

the file is in `/home/mysuser/myprojectroot/static/js/addons/ckeditor.wysiwyg.js`

[2018-03-01 16:12] Clindbergh commented on #3
Great, thank you! This works when I copy paste the default styles as well, so `/home/mysuser/myprojectroot/static/js/addons/ckeditor.wysiwyg.js` has to be

[code]
(and `CKEDITOR_SETTINGS = {
    'stylesSet': 'default:/static/js/addons/ckeditor.wysiwyg.js'
}` in `settings.py`)

[2018-03-06 17:44] danielsamuels opened #468 "LookupError when using HTMLField in a custom user model"
I've got a custom user model in my project, but it appears to be the case that if I attempt to use a `HTMLField` within it (for example, if I want a 'biography' field), it causes a LookupError because `utils.py` imports `cms.models.CMSPlugin` which eventually tries to get the custom user model which doesn't exist yet.

Here's a simple model which should reproduce the error:

[code]

and here's the

[2018-03-07 20:54] bhrutledge commented on #403
This is biting me. Would love to see #464 merged.

[2018-03-20 10:05] #454 closed

[2018-03-20 10:09] vxsx commented on #429
Should be fixed on latest master with #460

[2018-03-20 10:09] #429 closed

[2018-03-20 10:11] #428 closed

[2018-03-20 10:14] vxsx commented on #466
This should be declared in settings on the project level.

[2018-03-20 10:14] #466 closed

[2018-03-20 14:22] jedie commented on #466
It's about to generate this from existing settings and not add more not-DRY stuff ;)

[2018-03-20 15:14] lwm opened #471 "[CKEDITOR.resourceManager.load] Resource name "cmswidget" was not found"
On django-cms==3.5.1 and djangocms-text-ckeditor==3.5.3 I see:

[code]

Whenever I try to edit page content in the CMS menu.

[2018-03-21 09:48] lwm commented on #471
Oh, is django-cms 3.5.X supported? I saw https://github.com/divio/djangocms-text-ckeditor/commit/9b5d8d1ef5635ef66b9ed7d45bd8e0c56879d54d. It's not listed.

[2018-03-21 10:22] lwm commented on #471
OK, the main error:

I checked my local deployment. I do **not** have a `ckeditor/plugins/cmswidget/plugin.js` in my static folder. I **do** have a `ckeditor_plugins/cmsplugins/plugin.js`. Looks like some path wrangling went wrong somewhere.

[2018-03-21 12:33] vxsx commented on #471
Hi, ckeditor shouldn't try to load them as they are bundled already (e.g. in https://github.com/divio/djangocms-text-ckeditor/blob/master/djangocms_text_ckeditor/static/djangocms_text_ckeditor/js/dist/bundle-8e5431f90c.cms.ckeditor.min.js#L1252)

Could you show your `CKEDITOR_SETTINGS` variable?
Also - any chance you have the widget template in your project templates folder? (this one https://gith

[2018-03-21 12:54] lwm commented on #471
Ah, I see. Well, let's see, I have this:

[code]

[2018-03-21 13:02] lwm commented on #471
Ah! Removing the `widgets` folder solved it! So, this is already bundled or?

I suppose this should be added for upgrade notes? Can submit a patch if needed!

[2018-03-21 13:03] lwm commented on #471
Will close off for now, thanks for the help!

[2018-03-21 13:03] #471 closed

[2018-03-21 13:14] vxsx commented on #471
The templates and static files are normally collected via standard django mechanism, so unless you explicitly override them i'd recommend not to keep them in the project itself.

[2018-03-21 14:11] vxsx commented on #467
This is a bug in djangocms-admin-style, it should be fixed with https://github.com/divio/djangocms-admin-style/commit/1e6df9af5b4398b836d467b18d2af9c9fc8c103a#diff-f82fe566a66c072fb3f7d95800cd2f09R434

Could you check if latest master of djangocms-admin-style fixes the issue for you?

[2018-03-22 13:33] #465 closed

[2018-04-10 14:39] wfehr opened #473 "link overlay problem"
First of all: I don't know if this issue belongs here or somewhere else. If not, I am sorry:)

I am using version 3.5.1 of the editor.

When you add a link (link-button, not a cmsplugin) and double-click it, the overlay has some errors:
- chrome: after closing the "link-layer" the overlay doesn't close
- firefox: the overlay is in front of the "link-layer"

If you click the link and either press "

[2018-04-10 15:44] vxsx commented on #473
Could you try reproducing the error on latest master?

[2018-04-11 06:06] wfehr commented on #473
Tested the latest release (3.5.3) and the latest master.
On 3.5.3 it is still not working, but the latest master just works fine.

[2018-04-11 07:32] vxsx commented on #473
Good. 3.6.0 will be released soonish

[2018-04-11 07:32] #473 closed

[2018-04-11 19:01] jdgoettsch opened #474 "3.6.0 incompatible with ManifestStaticFilesStorage (and probably CachedStaticFilesStorage too)"
djangocms-text-ckeditor 3.6.0 calls `static` before the static files have been set up:

[code]

Django 1.11.12 and Django CMS 3.4.6:

[code]

[2018-04-15 15:30] pcolmant commented on #474
djangocms_text_ckeditor/js/dist/bundle-bca0d2d3f4.cms.ckeditor.min.js is present in self.hashed_files in django/contrib/staticfiles/storage.py - ManifestFilesMixin - stored_names(self, name) and not djangocms_text_ckeditor/js/dist/bundle-45a646fecc.cms.ckeditor.min.js

[2018-04-16 13:46] jrief opened #475 "Some CKEditor plugins are pinned to old version"
In version 3.5.3, **djangocms-text-ckeditor** switched from CKEditor version 4.6.2 to 4.7.3. However, many (presumably unused) plugins shipped with CKEditor have not been updated in the local source tree. This is rather confusing and may cause incompatibility errors.

Therefore, either remove those plugins, so that they have to be installed manually, or upgrade to a compatible version.

[2018-04-16 17:18] stefanw opened #476 "ValueError due to static file resolution on import time"
[These lines](https://github.com/divio/djangocms-text-ckeditor/blob/d398fa0bbf823b8738ee909f2ede811869ca2747/djangocms_text_ckeditor/widgets.py#L22-L26) cause static file resolution on import time. Unfortunately, the module is imported on app register (through model -> fields -> widgets).

This usually works fine, but with staticfiles storage set to [`ManifestStaticFilesStorage`](https://docs.djan

[2018-04-16 17:33] czpython commented on #476
Closing as duplicate of https://github.com/divio/djangocms-text-ckeditor/issues/474

[2018-04-16 17:33] #476 closed

[2018-04-16 20:40] pcolmant commented on #474
As workaround (...) : https://github.com/pcolmant/repanier/blob/master/repanier/big_blind_static.py

[2018-04-17 09:39] jrief commented on #475
OK. I compared the versions on GitHub, for instance
https://github.com/divio/djangocms-text-ckeditor/tree/master/djangocms_text_ckeditor/static/djangocms_text_ckeditor/ckeditor/plugins/image
against
https://github.com/ckeditor/ckeditor-dev/tree/release/4.7.x/plugins/image

and they differ. This of course because the distributed version is compiled.

However, wouldn't it be safer, instead of re-dis

[2018-04-17 11:31] vxsx commented on #475
I see your point, but I've tried that once and it didn't work very well. Main problems were that even if we are to bundle the released version of the `ckeditor` package - ckeditor uses it's own module loader that lazy loads some additional things on demand. To do that the files have to be static collected, so at the time it was a no go.

[2018-04-23 12:51] czpython opened #478 "Document the text_enabled param for plugins"
Reported by @jeroenpeters1986 in https://github.com/divio/django-cms/issues/6342

[2018-04-24 12:43] maj0rr commented on #403
+1 😀

[2018-04-25 08:51] jrief commented on #435
[djangocms-cascade](https://pypi.org/project/djangocms-cascade/) has a plugin which can handle images inside the text editor. It behaves as a normal CMS plugin and uses django-filer as its media store. It is even possible to wrap such an image inside a link element, pointing onto existing CMS pages.

[2018-04-25 09:10] Chematronix commented on #435
Nice project @jrief!  But does the plugin actually supports drag & drop or copy/paste?  It's not mentioned in the docs.  Also, does it works in all major browsers?  The lack of Chrome support made me give up on djangocms-text-ckeditor.

[2018-04-30 15:53] jedie commented on #403
ping

[2018-05-02 11:11] MHLut commented on #403
bump

[2018-05-02 11:46] Jamim commented on #403
I just sent the following message to the Divio's support through the contact form at http://support.divio.com.
[code]
I'm hoping this will draw their attention to the issue.

[2018-05-02 22:39] mwenom opened #481 "Code highlighting plugin"
how to add syntax highlighting? In the assembly there is no plugin Code Snippet (https://ckeditor.com/cke4/addon/codesnippet). Is it possible to add it yourself?

[2018-05-29 14:20] #403 closed

[2018-07-25 17:10] tjb346 opened #484 "Inline plugins move on undo command"
In the following scenario ...
1. A text plugin contains both nested block and nested inline plugins
2. The last of the nested plugins is of type block
3. You add text and use the "undo" command
... the inline plugins move to a new line as if they are block plugins.

Initial state:
![image](https://user-images.githubusercontent.com/10566965/43214746-c8247128-8fff-11e8-8ac7-17c528e70ceb.png)

Initia

[2018-07-27 05:00] rando305 opened #485 "html5lib-0.9999999"
Installing djangocms-text-ckeditor-3.6.0 forces downgrading of html5lib to 0.9999999.
I have other applications that require html5 lib to be at 1.0.1
Is there a plan to not keep this frozen where it is?

I'm not sure why this is a new issue.  It has been around a while.

[2018-08-02 08:14] macolo commented on #317
Quick note: Workaround for something like 'Title and Text" plugin which contains a text input and a html field: Create a plugin that contains an input field and let editors know that they should insert a TextPlugin into it (`allow_children = True`)

[2018-08-08 08:58] jeroenpeters1986 commented on #401
Hi @jrief, could you elaborate a little more on your workaround? I would like to use the djangocms-text-editor in one of my own custom plugins as well. I have another plugin which can display a product, but the cmsplugins-part of the HTMLField I use (from djangocms-text-editor) seems to be gone, also when it's `allow_children = True`.

[2018-08-08 09:16] czpython commented on #485
Fixed by https://github.com/divio/djangocms-text-ckeditor/commit/175a1a444de8ca1ba4742196cb83150d45b5c505

[2018-08-08 09:16] #485 closed

[2018-08-08 13:59] jrief commented on #401
@jeroenpeters1986 if you need a clean solution, add a `PlaceholderField` to your model. Then add a CKEditorWidget to that field and within, it is perfectly possible to add all text-enabled plugins you like.
The reason it doesn't work with the `HTMLField` is, that all plugins are part of a tree whose root is said placeholder.

[2018-08-20 05:14] adamth commented on #468
Currently experiencing the same error. My current workaround is to import `HTMLField` in the object that requires it :/

[2018-08-20 05:29] rapilabs commented on #468
`djangocms-text-ckeditor` is importing `CMSPlugin` from `django-cms` at module level, which has the requirement that the user model be already registered.  I believe this should be imported at function level, like they do in `django-cms`: https://github.com/divio/django-cms/blob/50dee524a1789d2259d760ba6726072907bad36b/cms/utils/moderator.py#L25

[2018-09-06 07:35] AjayViknesh opened #488 "Textplugin is not editable"
I have created a custom plugin which is a child of a plugin. I made TextPlugin as a child for this custom plugin, but I am not able to expand the custom plugin and edit the Text plugin in the admin side.

class LeftPlugin(CMSPluginBase):
    model = ChildPlugin1
    name = _("Left section plugin")
    render_template = "test/left_plugin.html"
    cache = False
    require_parent = True
    allow_c

[2018-09-06 07:47] #488 closed

[2018-09-09 23:14] macolo commented on #474
Its funny, but it works when django debug is True. Then, collectstatic can be run, and django debug can be set back to False. Subsequent runs then work fine, because the problematic files are then already included in the staticfiles.json.

[2018-09-15 14:59] macolo commented on #474
Mostly unrelated note for subsequent Google searches: ManifestStaticFilesStorage requires apps to be listed in INSTALLED_APPS

[2018-09-24 14:28] afs2015 commented on #474
@pcolmant: Your workaround solution worked great, thank you for your work!

[2018-09-28 21:14] mtully-blitz opened #490 "Space between text wrapped in html tags is removed"
If users creates text that results in this markup `<i>italic text</i> <b>bold text</b>` it is rendered without the space between the words. It seems to happen with any set of html tags including `<a>` and `<u>`

Desired Result: _italic text_ **bold text**

Actual Result: _italic text_**bold text**

djangocms-text-ckeditor==3.5.3
django-cms==3.5.2
Django==1.11.15

[2018-09-28 22:03] mtully-blitz commented on #490
derp...didn't see the `{% spaceless %}` tags wrapping the output in the template. Closing issue

[2018-09-28 22:03] #490 closed

[2018-10-04 06:02] AbdulWaheedPasha opened #491 "djangocms-text-ckeditor 3.6.0 has requirement html5lib<0.99999999"
Divio Please Update the requirement of djangocms-text-ckeditor.
from  HTML5lib <0.99999999 to html5lib 1.0.1
because I can't run other library.
xhtml2pdf can't run without HTML5lib 1.0.1

[2018-10-25 07:55] debuggerpk commented on #438
i am getting the same error

[2018-10-25 12:48] creimers opened #492 "Q: access and overwrite htmlWriter?"
According to the [ckeditor docs](https://ckeditor.com/docs/ckeditor4/latest/api/CKEDITOR_htmlWriter.html#method-setRules), rather fine grained settings can be applied to individual tags that the editor renders (htmlWriter).

Is there a way to access and overwrite these kind of settings in djangocms-text-ckeditor?

[2018-10-29 23:00] jrief commented on #492
Could you please be more specific on what you want to achieve. Using the settings variable `CKEDITOR_SETTINGS` it is possible to configure CKEditor quite heavily to your own needs.

[2018-11-02 07:50] creimers commented on #492
I can.

I would like to perform the following stunt:

[code]

This is described in the editor's docs [here](https://ckeditor.com/docs/ckeditor4/latest/api/CKEDITOR_htmlWriter.html#method-setRules)

[2018-11-07 13:48] rhunwicks commented on #491
Perhaps more importantly, this fails the checks using the Safety database:

[code]

[2018-11-07 13:48] rhunwicks commented on #491
See https://pypi.org/project/safety/

[2018-11-07 14:03] rhunwicks commented on #491
Note that this is already fixed in trunk - see #403 and #464, etc.

I.e. even though it would be good get a new Pypi release you can fix it now by installing github, e.g. in your requirements file:

[code]

[2018-11-07 14:04] rhunwicks commented on #491
Personally, I think that this is a duplicate of #403 and can be closed.

[2018-11-09 09:32] debuggerpk commented on #438
figured out the error. Its the way static files were setup. The best possible solution to get rid of the error is to do

[code]

the -c flag would clean the static files first. The above is a dangerous command. So make sure the project STATICFILES_DIR is setup correctly, or else it will clean everything and then do the setup.

[2018-11-23 10:11] ghost opened #495 "Table/Cell Properties not appearing in context menu"
I don't see the table or cell properties context menu items when right clicking a table/table cell within the editor. Please see screenshot below. I'm using the latest version of the CMS 3.5.3 and djangocms-text-ckeditor 3.6.1. I'm using django-ckeditor outside of the CMS which functions correctly and gives me the context menus correctly.

![screenshot-1](https://user-images.githubusercontent.com/

[2018-12-10 13:32] fredd4 opened #496 "Change the requirements file"
Within the new version, you dropped support for Django < 1.11, but you did not change the requirements file. So, an automatic build, there is no error dumped, but Django admin panel does not work correctly.

Changelog for the new version:
Removed support for Django < 1.11

[2018-12-21 17:39] masaruduy opened #497 "Default text doesn't display"
I've tried a similar default config as the one in the readme but it doesn't show up on the page's structure.

    'date': {
        'plugins': ['TextPlugin', 'LinkPlugin'],
        'default_plugins':[
            {
                'plugin_type':'TextPlugin',
                'values':{
                    'body':'<p>January 13</p>'
                },
            },
        ]
    },

![screen shot 2

[2019-01-07 18:03] db654 commented on #495
I'm having this issue as well. One workaround to note is if you click that 'table' link in the footer DOM breadcrumbs, you can then access the context menu correctly. A more intuitive solution to this would be great though.

[2019-01-11 17:25] Bachstelze opened #498 "ckeditor 5"
Are there plans to integrate ckeditor version 5?

[2019-02-28 23:44] krisb78 commented on #438
Having the same error, in my case the missing file is:

/static/djangocms_text_ckeditor/ckeditor/plugins/copyformatting/lang/pl.js?t=H8DA

I looked at the s3 bucket where my static files are collected, this file is missing.

It is not being requested when I'm running in the Debug mode (the editor actually loads then).

Looking at the static folder in this project, this file is not there, either.

[2019-03-11 12:49] vThaian commented on #491
The newest version use `html5lib>=0.999999999`

[2019-03-11 12:49] #491 closed

[2019-03-11 12:52] vThaian commented on #496
Thanks, @fredd4. In the recent version, we removed Django form requirements.

[2019-03-11 12:52] #496 closed

[2019-03-11 13:07] vThaian commented on #497
@masaruduy could you please give me more details about your setup? Django, cms and ckeditor versions would be great on start

[2019-03-11 13:15] #401 closed

[2019-03-11 13:15] FinalAngel commented on #498
@Bachstelze we do not have a plan to update to CKEditor 5 currently. It is pretty new and certain features, like custom django CMS plugins, are not easy to be integrated.

We're happy for a pull request integrating CKEditor 5! Though it's sadly not a simple task 🥇

[2019-03-11 13:17] vThaian commented on #420
I didn't check this on mentioned versions because we don't support that version already. Did you try with the newest version? If you have issues with that then please feel free to ping me and we will resolve your problem.

[2019-03-11 13:17] #420 closed

[2019-03-11 13:20] vThaian commented on #430
@petrklus new version of ckeditor resolved your problems?

[2019-03-11 13:20] #430 closed

[2019-03-11 13:27] macolo commented on #420
Not yet, will let you know should this happen as well when upgrading from 3.0.1 to an even newer version.

[2019-03-13 12:23] vThaian commented on #459
@creimers ? We can't reproduce it now. Could you provide some test project with it for us?

[2019-03-13 12:26] #457 closed

[2019-03-13 12:30] vThaian commented on #453
@artforlife any updates?

[2019-03-13 12:33] vThaian commented on #435
@lazydragon did you check cascade plugin as a solution?

[2019-03-13 13:01] creimers commented on #459
Puh, I'm surprised to see that this is still open. As it is more than a year old, I'm inclined to just close it.

[2019-03-13 13:01] #459 closed

[2019-03-20 14:51] artforlife commented on #453
@vThaian , I have not been playing with this issue. However, in the last few days I started building another site with DjangoCMS 3.6. I will keep an eye out for the same behavior. Feel free to close this, and I shall reopen if needed.